:host {
  display: block;
  max-width: 30rem;
  min-width: 10rem;

  o-box-template {
    background-color: var(--o-color-canvas-50);
    display: grid;
    grid-template-columns: 72px 1fr;
    gap: var(--gap-medium);
    overflow: hidden;
    height: 97px;
    position: relative;

    div {
      display: flex;
      align-items: center;

      &.left {
        justify-content: center;
      }

      o-icon {
        color: var(--o-color-white);
        display: none;
      }
    }
    o-button {
      position: absolute;
      right: 0;
      top: 0;

      gap: 0;
      padding: 0;
      width: var(--field-size-medium);
      height: var(--field-size-medium);
    }
  }
}

:host([variant="error"]) {
  o-box-template {
    div.left {
      background-color: var(--o-color-danger-500);
      o-icon[name="form.error"] {
        display: initial;
      }
    }
  }
}
:host([variant="warning"]) {
  o-box-template {
    div.left {
      background-color: var(--o-color-warning-500);
      o-icon[name="form.warning"] {
        display: initial;
      }
    }
  }
}
:host([variant="success"]) {
  o-box-template {
    div.left {
      background-color: var(--o-color-success-500);
      o-icon[name="form.success"] {
        display: initial;
      }
    }
  }
}