:host {
  display: block;
  max-width: 30rem;
  min-width: 10rem;

  pap-box-template {
    background-color: var(--pap-color-bg-canvas, #EAEBEF);
    display: grid;
    grid-template-columns: 72px 1fr;
    gap: var(--gap-medium, 16px);
    overflow: hidden;
    height: 97px;
    position: relative;

    div {
      display: flex;
      align-items: center;

      &.left {
        justify-content: center;
      }

      pap-icon {
        color: var(--pap-color-icon-inverse, #FFFFFF);
        display: none;
      }
    }
    pap-button {
      position: absolute;
      right: 0;
      top: 0;

      gap: 0;
      padding: 0;
      width: var(--field-size-medium, 40px);
      height: var(--field-size-medium, 40px);
    }
  }
}

:host([variant="error"]) {
  pap-box-template {
    div.left {
      background-color: var(--pap-color-danger-500, #FD3649);
      pap-icon[name="form.error"] {
        display: initial;
      }
    }
  }
}
:host([variant="warning"]) {
  pap-box-template {
    div.left {
      background-color: var(--pap-color-warning-500, #FFA800);
      pap-icon[name="form.warning"] {
        display: initial;
      }
    }
  }
}
:host([variant="success"]) {
  pap-box-template {
    div.left {
      background-color: var(--pap-color-success-500, #4FB82A);
      pap-icon[name="form.success"] {
        display: initial;
      }
    }
  }
}