<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE_CLASSNAME Showcase</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css" />

    <script defer src="main.js"></script>
</head>
<body>
    <showcase-header
      title="TEMPLATE_CLASSNAME"
      subtitle="A strong typography system creates consistency, personality, and readability across your product. "
    >
    </showcase-header>
    <main>
      <section>
        <o-typography variant="T3">Example</o-typography>
        <o-typography>A normal case of a section that spans the entire block</o-typography>
      </section>
      <section class="flex">
        <div>
          <o-typography variant="T3">Section</o-typography>
          <o-typography>When using the flex classname we can get multiple columns</o-typography>
        </div>
        <showcase-card>
          <TEMPLATE_PREFIXNAME></TEMPLATE_PREFIXNAME>
        </showcase-card>
      </section>
    </main>
</body>
</html>