<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEMPLATE_CLASSNAME Showcase</title>

  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Styles -->
  <link rel="stylesheet" href="style.css" />

  <script defer src="main.js"></script>
</head>

<body>
  <showcase-header title="TEMPLATE_CLASSNAME"
    subtitle="Lorem ipsum dolor sit amet consectetur. Enim lobortis id elementum non. Tristique vulputate erat vel elit placerat faucibus vulputate volutpat.">
  </showcase-header>
  <main>
    <section class="vertical">
      <pap-typography variant="T3">Example</pap-typography>
      <pap-typography>A normal case of a section that spans the entire block</pap-typography>
    </section>
    <section>
      <div>
        <pap-typography variant="T3">Section</pap-typography>
        <pap-typography>When using the flex classname we can get multiple columns</pap-typography>
      </div>
      <showcase-card>
        <TEMPLATE_PREFIXNAME></TEMPLATE_PREFIXNAME>
      </showcase-card>
    </section>
  </main>
</body>

</html>