:host {
  display: block;
  padding: var(--padding-medium, 16px);

  background-color: var(--TEMPLATE_NAME-background-color, var(--pap-color-bg, white));
  color: var(--TEMPLATE_NAME-text-color, var(--pap-color-text, black));
}