:host(:not([resize="none"])) {
  pap-box-template[part="main"] {
    // very important 
    height: auto;

    pap-prefix-suffix-template {
      height: auto;
    }
  }

  textarea {
    box-sizing: border-box;
  }
}

:host(:not([resize="vertical"])) {
  textarea {
    resize: none;
  }
}

:host([resize="vertical"]) {
  textarea {
    resize: vertical;
  }
}