:host {
  display: block;
}
o-box-template {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-medium);
  
  overflow-x: auto;
  text-align: center;
  padding: var(--padding-large) var(--padding-medium);

  position: relative;
  box-sizing: border-box;
  min-height: 250px;
  width: 100%;
  background-color: var(--o-color-bg-secondary);

  ::slotted(*) {
    margin: auto;
  }
}