:host {
    o-typography[variant="t2"] {
        margin-bottom: var(--margin-medium);
    }

    & > div {
        display: flex;
        align-items: center;
        gap: var(--gap-small);
        margin-bottom: 3rem;

        o-button {
            gap: 0;
            padding: 0;
        }
    }

    o-form {
        o-button {
            margin-top: var(--gap-large);
        }
    }
}

@media (prefers-color-scheme: dark) {}