// light mode (system)
@media (prefers-color-scheme: light) {
    :host {
        o-icon.logo.dark {
            display: none;
        }
        o-icon.logo.light {
            display: initial;
        }
    }
}
// dark mode (system)
@media (prefers-color-scheme: dark) {
    :host {
        o-icon.logo.dark {
            display: initial;
        }
        o-icon.logo.light {
            display: none;
        }
    }
}
:host(.theme-dark) {
    o-icon.logo.dark {
        display: initial;
    }
    o-icon.logo.light {
        display: none;
    }
}
:host(.theme-light) {
    o-icon.logo.dark {
        display: none;
    }
    o-icon.logo.light {
        display: initial;
    }
}

:host {    
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    height: 100vh;
    // min-height: 100vh;
    grid-template-rows: 1fr;
    
    o-box-template {
        container-type: inline-size;
        display: block;
        background-color: var(--o-navbar-background-color, var(--o-color-bg, #FFFFFF));
        padding: var(--padding-small, 8px);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: var(--margin-small, 8px);
            padding-block: var(--padding-small, 8px);

            o-icon.logo {
                margin-left: var(--margin-medium, 16px);
            }

            o-button {
                gap: 0;
                padding: 0;
                width: 40px;
                height: 40px;

                color: var(--o-color-text);
            }
        }
    
        o-divider {
            margin-block: var(--margin-small, 8px);
        }
    
        div.body {
            ::slotted(o-navbar-item) {
                margin-bottom: var(--margin-small, 8px);
            }
        }
    }
}

:host([mode="open"]) {
    width: 310px;
}
:host([mode="collapsed"]) {
    width: 72px;
}

:host([mode="hover"]) {    
    width: 72px;
    
    o-box-template {
        position: absolute;

        &:hover {
            width: 310px;
            transition: width 60ms ease-in;
        }

        header {
            o-button {
                o-icon.open {
                    display: none;
                }
                o-icon.collapsed {
                    display: block;
                }
                o-icon.hover {
                    display: none;
                }
            }
        }
    }
}

@container (min-width: 72px) {
    :host {
        o-box-template {
            transition: width 60ms ease-in;
            
            header {
                o-button {
                    o-icon.open {
                        display: block;
                    }
                    o-icon.collapsed {
                        display: none;
                    }
                    o-icon.hover {
                        display: none;
                    }
                }
            }
        }
    }
}
@container (max-width: 72px) {
    :host {
        o-box-template {
            transition: width 150ms ease-in;

            header {
                justify-content: center;

                ::slotted(*) {
                    display: none;
                }
                o-icon.logo.dark,
                o-icon.logo.light {
                    display: none !important;
                }
                o-button {
                    o-icon.open {
                        display: none;
                    }
                    o-icon.collapsed {
                        display: none !important;
                    }
                    o-icon.hover {
                        display: block !important;
                    }
                }
            }
        }
    }
}