:host {
    --background: var(--code-dark-background, rgb(22, 22, 30));
    --tag: var(--code-dark-tag, rgb(153, 153, 153));
    --tag-name: var(--code-dark-tag-name, rgb(128, 152, 219));
    --attribute: var(--code-dark-attribute, rgb(163, 244, 255));
    --attribute-value: var(--code-dark-attribute-value, rgb(189, 186, 101));
    --content: var(--code-dark-content, rgb(240, 240, 240));

    --button-color: var(--code-dark-button-color, rgb(0, 0, 0));
    --button-background: var(--code-dark-border-button-color, hsl(52, 79%, 60%));
    --button-background-hover: var(--code-dark-button-background-hover, hsl(52, 79%, 42%));
    --button-background-active: var(--code-dark-button-background-active, hsl(52, 79%, 60%));
}

@media (prefers-color-scheme: light) {
    :host {
        --background: var(--code-light-background, rgb(232, 232, 232));
        --tag: var(--code-light-tag, rgb(111, 111, 111));
        --tag-name: var(--code-light-tag-name, rgb(134, 94, 45));
        --attribute: var(--code-light-attribute, rgb(144, 123, 58));
        --attribute-value: var(--code-light-attribute-value, rgb(39, 48, 167));
        --content: var(--code-light-content, rgb(19, 19, 19));

        --button-color: var(--code-light-button-color, rgb(255, 255, 255));
        --button-background: var(--code-light-button-background, cornflowerblue);
        --button-background-hover: var(--code-light-button-background-hover, hsl(219, 79%, 80%));
        --button-background-active: var(--code-light-button-background-active, cornflowerblue);
    }
}


code {
    position: relative;
    background-color: var(--background);
    padding: 1rem;
    display: block;
    border-radius: 0.3rem;
    margin: 1rem 0;
    min-height: 3rem;

    span.attribute {
        color: var(--attribute);
    }
    span.attribute-value {
        color: var(--attribute-value);
    }
    span.tag {
        color: var(--tag);
    }
    span.tag-name {
        color: var(--tag-name);
    }
    span.content {
        color: var(--content);
    }

    pre {
        margin: 0;
    }

    button#copy {
        position: absolute;
        top: 0;
        right: 0;
        
        padding: 0.2rem 1rem;
        border: none;
        cursor: pointer;
        background-color: var(--button-background);
        color: var(--button-color);
        letter-spacing: 2px;
        font-weight: 600;
        border-top-right-radius: 4px;

        &:hover {
            background-color: var(--button-background-hover);
        }
        &:active {
            background-color: var(--button-background-active);
        }
    }
}

:host([display="code"]) fieldset {
    display: none;
}