:host {
  span.icon-spacer {
    display: inline-block;
    width: var(--icon-size-medium, 20px);
  }
}

:host([selected="false"]) {
  pap-icon[slot="suffix"] {
    &::part(svg) {
      display: none;
    }
  }
}

:host([selected="true"]) {
  pap-icon[slot="suffix"] {
    &::part(svg) {
      display: block;
    }
  }
}