:host {
  height: 56px;
  display: flex;
  padding-inline: 0.7rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--tblecelltitle-text-color-light, var(--color-primary-600, black));
  background-color: var(--tablecelltitle-background-light, var(--color-neutral-300, #F1F1F4));
  
  o-typography {
    white-space: nowrap;       /* Prevents the text from wrapping */
    overflow: hidden;          /* Ensures the text is clipped */
    text-overflow: ellipsis;   /* Apply the ellipsis */
  }
  
  o-icon {
    user-select: none;
  }
}

:host([cansort="false"]) {
  o-icon {
    display: none;
  }
}

$sorting-variants: none, up, down;
@each $name in $sorting-variants {
  :host([sorting="#{$name}"]) {
    o-icon:not([name="table.sort.#{$name}"]) {
      display: none;
    }
  }
}