:host {
  --color: var(--pap-editor-input-text-color-light, var(--pap-color-black, black));
  display: block;
}

@media (prefers-color-scheme: dark) {
  :host {
    --color: var(--pap-editor-input-text-color-dark, var(--pap-color-black, white));
  }
}

.controls {
  display: flex;
  gap: 0.5rem;

  pap-button {
    gap: 0;
    padding: 0;

    pap-icon {
      color: var(--color);
    }
  }
}

div#editor {
  padding: 2px;
}