:host {
  background-image: 
    radial-gradient(
      circle at calc(100% - 5rem) -15rem, 
      color-mix(in oklab, var(--o-color-primary-50) 5%, white 5%), 
      var(--o-color-secondary-950) 50%
    );

  color: var(--o-color-text-inverse);
  display: block;
  padding: 60px;
  padding-left: 100px;
}

div {
  max-width: 450px;
}