:host {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium, 16px);
  background-color: var(--pap-color-bg, #FFFFFF);

  pap-table-header {
    position: relative;
    z-index: 2;
    padding-block: var(--padding-medium, 16px);
  }

  pap-table-menu {
    pap-tabs {
      &::part(header) {
        background-color: var(--pap-color-bg-secondary, #F6F7F8);
      }

      pap-tab {

        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          gap: var(--gap-smaller, 4px);
        }

        padding-bottom: var(--padding-small, 8px);
      }
    }
  }

  pap-box-template[part="wrapper"] {
    display: block;
    background-color: var(--pap-color-bg-secondary, #F6F7F8);

    table {
      width: 100%;
    }
  }
}