body {
  background-color: var(--o-color-bg-canvas, #EAEBEF);
  margin: 0;
  display: flex;
  /* overscroll-behavior-y: none; */
}

main {
  flex-grow: 1;
}

main > div {
  margin: 0.5rem;
  background-color: var(--o-color-bg-secondary, #F6F7F8);
  content: '';
  padding: 5rem;
  border-radius: 1rem;
}

main > div:first-child {
  margin: 0.5rem;
  padding: 1rem;
  width: 8rem;
  margin-left: auto;
}