body {
  background-color: var(--pap-color-bg-canvas, #EAEBEF);
  margin: 0;
  /* overscroll-behavior-y: none; */
}

div.wrapper {
  display: flex;
}

/* NOTE when globally displayed it cannot be fixed.. it would mess up */
/* pap-sidebar::part(base) {
  position: relative;
}
pap-sidebar[mode="hover"]::part(base) {
  position: absolute;
} */

main {
  flex-grow: 1;
}

main>div {
  margin: 0.5rem;
  background-color: var(--pap-color-bg-secondary, #F6F7F8);
  content: '';
  padding: 5rem;
  border-radius: 1rem;
}

main>div:first-child {
  margin: 0.5rem;
  padding: 1rem;
  width: 8rem;
  margin-left: auto;
}