:host {
  pap-input {
    --pap-prefix-suffix-content-padding: 0;

    pap-button {
      pap-icon {
        color: var(--pap-color-icon-secondary, #6E7087);
      }
    }
  }
}

:host([toggled="true"]) {
  &>pap-button {
    display: none;
  }

  &>pap-input {
    display: block;
  }
}

:host([toggled="false"]) {
  &>pap-button {
    display: inline-flex;
  }

  &>pap-input {
    display: none;
  }
}