:host {
  display: inline-block;
  --border-color: transparent;

  pap-menu::part(button) {
    background-color: var(--pap-color-bg, white);
    min-width: 0;
    box-sizing: border-box;
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
  }

  pap-icon[part="language-icon"][country-flag] {
    overflow: hidden;
    border-radius: 50%;

    &::part(flag) {
      font-size: 3rem;
    }
  }
}

:host([border="true"]) {
  --border-color: var(--pap-color-border, #C7CBD4);
}

// .flag {
//   display: inline-block;
//   height: 24px;
//   width: 24px;
//   border-radius: 1000px;
//   line-height: 28px;
//   overflow: hidden;

//   &:not(.globe) {
//     span {
//       left: -2rem;
//       margin-left: -40%;
//       font-size: 33pt;
//     }
//   }
// }

// span.wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// ::part(box) {
//   min-width: 215px;
// }