:host {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-small);
}
:host([hidden]) {
  o-menu {
    display: none;
  }
}

.theme-color {
  display: block;
  content: '';
  width: var(--field-size-small);
  height: var(--field-size-small);
  border-radius: 50%;
}

o-toggle {
  &::part(indicator) {
    background-color: transparent;
  }

  &[checked="true"] {
    o-icon[name="light-mode"] {
      display: none;
    }
  }
  &[checked="false"] {
    o-icon[name="dark-mode"] {
      display: none;
    }
  }
}