:host {
  display: flex;
  align-items: center;
  height: var(--unit-size7, 48px);
  justify-content: flex-end;
}

span.flex {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

pap-dropdown {
  width: 6rem;

  &::part(menu) {
    max-height: 30rem;
  }
}