<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circular Design System</title>

  <link rel="stylesheet" href="style.css" />
  <script defer src="main.js"></script>
</head>
<body>
  <section class="sidebar">
    <header>
      <o-icon class="logo" name="circular"></o-icon>
    </header>

    <ul>
      <li>
        <label>
          foundations
          <o-icon customSize="10" name="caret"></o-icon>
        </label>
        <ul></ul>
      </li>
      <li>
        <label>
          components
          <o-icon customSize="10" name="caret"></o-icon>
        </label>
        <ul>
          <li>
            <label>
              <span>
                <o-icon customSize="15" name="atoms"></o-icon>
                atoms
                </span>
                <o-icon customSize="10" name="caret"></o-icon>
              </label>
            <ul class="atoms"></ul>
          </li>
          <li>
            <label>
              <span>
                <o-icon customSize="15" name="molecules"></o-icon>
                molecules
              </span>
              <o-icon customSize="10" name="caret"></o-icon>
            </label>
            <ul class="molecules"></ul>
          </li>
          <li>
            <label>
              <span>
                <o-icon customSize="15" name="organisms"></o-icon>
                organisms
              </span>
              <o-icon customSize="10" name="caret"></o-icon>
            </label>
            <ul class="organisms"></ul>
          </li>
          <li>
            <label>
              <span>
                <o-icon customSize="15" name="pages"></o-icon>
                pages
              </span>
              <o-icon customSize="10" name="caret"></o-icon>
            </label>
            <ul class="pages"></ul>
          </li>
          <li>
            <label>
              <span>
                <o-icon customSize="15" name="templates"></o-icon>
                templates
              </span>
              <o-icon customSize="10" name="caret"></o-icon>
            </label>
            <ul class="templates"></ul>
          </li>
          <li>
            <label>
              <span>
                <o-icon customSize="15" name="tools"></o-icon>
                tools
              </span>
              <o-icon customSize="10" name="caret"></o-icon>
            </label>
            <ul class="tools"></ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <main class="designsystem"></main>
</body>
</html>