:host {
  display: block;
  margin-block: var(--margin-medium, 16px);
  color: var(--pap-color-text, #29292F);

  .string {
    color: var(--pap-color-text-warning, #984308);
  }

  .keyword {
    color: var(--pap-color-text-danger, #A3111F);

    &.class,
    &.implements,
    &.extends,
    &.this,
    &.function {
      color: var(--pap-color-primary-500, #0CB9Eb);
    }
  }

  .function-arg {
    color: var(--pap-color-text-warning, #984308);
  }

  .function-name {
    color: var(--pap-color-text-brand-strong, #002652);
  }

  div.line {
    min-height: 12px;
    color: var(--pap-color-text, #29292F);
  }

  .html-attribute {
    padding-left: var(--padding-smaller, 4px);

    .html-attribute-name {
      color: var(--pap-color-primary-700, #0177A3);
    }

    .html-attribute-value {
      color: var(--pap-color-text-warning, #984308);
    }
  }

  .html-tag {
    color: var(--pap-color-neutral-700, #4D4E58);
  }

  .html-tag-name {
    color: var(--pap-color-primary-500, #0CB9Eb);
  }

  code {
    pap-box-template {
      background-color: var(--pap-color-bg-secondary, #F6F7F8);
      overflow: hidden;
      display: block;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: inherit;
        background-color: var(--pap-color-bg-tertiary, #EAEBEF);

        &>pap-typography {
          text-indent: var(--padding-medium, 16px);
        }

        pap-switch {
          color: var(--pap-color-text, #29292F);
        }

        pap-button {
          pap-icon[name="done"] {
            display: none;
          }

          pap-icon[name="content_paste"] {
            display: initial;
          }
        }
      }

      main {
        min-height: var(--unit-size5, 32px);
        padding: var(--padding-medium, 16px) var(--padding-large, 24px);
      }
    }
  }

  fieldset {
    display: flex;
    gap: var(--gap-small, 8px);
    margin-bottom: var(--margin-small, 8px);
  }
}

:host([color="canvas"]) {
  fieldset {
    background-color: var(--pap-color-bg-canvas, #EAEBEF);
  }
}

:host([color="background"]) {
  fieldset {
    background-color: var(--pap-color-bg, #FFFFFF);
  }
}

:host([color="checker"]) {
  fieldset {
    background-color: var(--pap-color-bg-secondary, #F6F7F8);
    --a: var(--pap-color-bg-canvas, #EAEBEF);

    background-image: linear-gradient(45deg, var(--a) 25%, transparent 25%, transparent 75%, var(--a) 75%, var(--a)),
      linear-gradient(45deg, var(--a) 25%, transparent 25%, transparent 75%, var(--a) 75%, var(--a));
    background-position: 0 0, 0.75rem 0.75rem;
    background-size: 1.5rem 1.5rem;
  }
}

:host([direction="row"]) {
  fieldset {
    flex-direction: row;
    align-items: center;
  }
}

:host([direction="column"]) {
  fieldset {
    flex-direction: column;

    &>* {
      flex: 1;
    }
  }
}

:host([display="code"]) fieldset {
  display: none;
}

:host(.copied) {
  header {
    pap-button {
      pap-icon[name="done"] {
        display: initial;
      }

      pap-icon[name="content_paste"] {
        display: none;
      }
    }
  }
}