:host {
    display: block;
    margin-block: var(--margin-medium, 16px);
    color: var(--o-color-text, #29292F);

    .string {
        color: var(--o-color-text-warning, #984308);
    }
    .keyword {
        color: var(--o-color-text-danger, #A3111F);

        &.class,
        &.implements,
        &.extends,
        &.this,
        &.function {
            color: var(--o-color-primary-500, #0CB9Eb);
        }
    }
    .function-arg {
        color: var(--o-color-text-warning, #984308);
    }
    .function-name {
        color: var(--o-color-text-brand-strong, #002652);
    }
    div.line {
        min-height: 12px;
        color: var(--o-color-text, #29292F);
    }

    .html-attribute {
        padding-left: var(--padding-smaller, 4px);
        .html-attribute-name {
            color: var(--o-color-primary-700, #0177A3);
        }
        .html-attribute-value {
            color: var(--o-color-text-warning, #984308);
        }
    }

    .html-tag {
        color: var(--o-color-neutral-700, #4D4E58);
    }
    .html-tag-name {
        color: var(--o-color-primary-500, #0CB9Eb);
    }

    code {
        o-box-template {
            background-color: var(--o-color-bg-secondary, #F6F7F8);
            overflow: hidden;
            display: block;
            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: inherit;
                background-color: var(--o-color-bg-tertiary, #EAEBEF);
        
                & > o-typography {
                    text-indent: var(--padding-medium, 16px);
                }

                o-toggle {
                    color: var(--o-color-text, #29292F);
                }
        
                o-button {
                    o-icon[name="done"] {
                        display: none;
                    }
                    o-icon[name="content_paste"] {
                        display: initial;
                    }
                }
            }
        
            main {
                min-height: var(--unit-size5, 32px);
                padding: var(--padding-medium, 16px) var(--padding-large, 24px);
            }
        }
    }

    fieldset {
        // overflow: initial;
        // overflow-x: auto;
        background-color: var(--o-color-bg, #FFFFFF);
        legend {
            // TODO - how to display so in opposite color (theme-switch) 
        }
    }
}

:host([display="code"]) fieldset {
    display: none;
}

:host(.copied) {
    header {
        o-button {
            o-icon[name="done"] {
                display: initial;
            }
            o-icon[name="content_paste"] {
                display: none;
            }
        }
    }
}