:host {
  color: var(--o-color-text);
  cursor: var(--select-pointer, pointer);

  user-select: none;
  white-space: nowrap;
  
  height: var(--field-size-medium);
  padding-inline: var(--padding-large);
  margin-top: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

:host(:hover) {
  color: var(--o-color-text-hover);

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: var(--unit-size-1, 4px);
    border-top-left-radius: var(--radius-small);
    border-top-right-radius: var(--radius-small);

    background-color: var(--o-color-bg-tertiary);
  }
}
:host(:active) {
  color: var(--o-color-text-pressed);

  &:after {
    background-color: var(--o-color-bg-secondary);
  }
}

::slotted(*) {
  pointer-events: none;
}