// PROPERTIES
:host {
  container-type: inline-size;
  display: block;
  min-width: 3.5rem;
  margin-block: var(--margin-smaller, 4px);

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: var(--field-size-medium, 40px);
  }

  pap-divider {
    height: var(--unit-size2, 8px);
    display: none;
    width: 100%;

    &::part(line) {
      background-color: var(--pap-color-border-tertiary, #EAEBEF);
    }
  }

  pap-button {
    padding-left: var(--padding-left);

    --pap-prefix-suffix-content-margin-left: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    span[slot="prefix"] {
      display: flex;
      justify-content: center;
      align-items: center;

      &.indicator {
        margin-left: var(--margin-medium, 16px);

        &::after {
          content: '';
          width: var(--unit-size2, 8px);
          height: var(--unit-size2, 8px);
          border-radius: 50%;
          display: none;

          background-color: var(--pap-color-bg-brand, #009DD3);
        }
      }

      &.caret {
        display: none;
      }
    }

    &::part(content) {
      margin-left: 0;
    }

    span.group {
      flex-grow: 1;
      display: inline-flex;
      align-items: center;
      gap: var(--gap-small);
      white-space: nowrap;
      justify-content: flex-start;
      width: 100%;
    }

    pap-icon {
      &.selected {
        display: none;
      }
    }
  }
}

:host([isparent="false"][indicator="false"]) {
  span[slot="prefix"] {
    margin-left: var(--margin-large, 24px);
  }
}

:host([counter]) pap-button::part(content) {
  max-width: calc(100% - 6rem);
}

:host([isparent="true"]) {

  *[slot],
  .group pap-icon {
    display: none !important;
  }

  span[slot="prefix"].caret {
    display: inline-flex !important;
    color: var(--pap-color-icon-secondary, #6E7087);
  }

  pap-button::part(content) {
    max-width: 100%;
  }

  .group pap-typography {
    color: var(--pap-color-text-secondary, #6E7087);
  }
}

:host(.selected:not([isparent="true"])) {
  pap-button {
    background-color: var(--pap-sidebar-item-selected-bg, var(--pap-color-bg-tertiary, #EAEBEF));
    color: var(--pap-sidebar-item-selected-text, var(--pap-color-text, #29292F));

    pap-icon {
      &.selected {
        display: initial;
      }

      &.unselected {
        display: none;
      }
    }
  }
}

:host pap-button:hover,
:host pap-button:active,
:host(.selected:not([isparent="true"])) pap-button {
  pap-badge::part(box) {
    background-color: var(--pap-color-bg, #FFFFFF) !important;
    border-color: var(--pap-color-border, #C7CBD4) !important;
    color: var(--pap-color-text, #29292F) !important;
  }
}

:host([open="false"]) {
  span[slot="prefix"].caret {
    transform: rotate(-90deg);
  }

  pap-divider {
    display: flex;
  }
}

:host([indicator="true"]) {
  span[slot="prefix"] {
    &.indicator {
      &::after {
        display: inline;
      }
    }
  }
}

// :host([isparent="false"].selected) {}

// collapsed
@container (max-width: 150px) {
  :host {
    pap-button {
      display: inline-flex;
      border-top-left-radius: var(--radius-max, 1000px);
      border-bottom-left-radius: var(--radius-max, 1000px);
      min-width: 0;
      padding: 0;
      width: var(--field-size-medium, 40px);
      height: var(--field-size-medium, 40px);

      span.group {
        justify-content: center;
      }

      &::part(content) {
        margin-left: auto;
      }
    }


    pap-typography,
    pap-badge,
    span[slot="prefix"],
    pap-divider {
      display: none !important;
    }
  }

  :host([indicator="true"]) {
    span[slot="prefix"] {
      &.indicator {
        display: block !important;
        position: absolute;
        top: var(--unit-size1, 4px);
        right: var(--unit-size1, 4px);
        width: var(--unit-size2, 8px);
        height: var(--unit-size2, 8px);

        &::after {
          position: absolute;
        }
      }
    }
  }

  :host([isparent="true"]) {
    pap-button {
      position: relative;

      *[slot],
      span[slot="prefix"].caret,
      .group pap-icon {
        display: none !important;
      }

      &::after {
        content: '';
        width: var(--unit-size3, 16px);
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: var(--pap-color-border, #C7CBD4);
        transform: translate(-50%, -50%);
      }
    }
  }
}