// PROPERTIES
:host {
  container-type: inline-size;
  display: block;
  min-width: 3.5rem;
  margin-block: calc(var(--margin-smaller, 4px) / 2);

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: var(--field-size-medium, 40px);
  }

  pap-divider {
    height: var(--unit-size2, 8px);
    display: none;
    width: 100%;

    &::part(line) {
      background-color: var(--pap-color-border-tertiary, #EAEBEF);
    }
  }

  pap-button {
    padding-left: var(--padding-left);
    color: var(--pap-color-text-secondary, #6E7087);

    &::part(prefix-suffix) {
      gap: 0;
      width: 100%;
    }

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    pap-icon[name="indicator"] {
      color: var(--pap-color-bg-brand, #009DD3);
    }

    pap-typography {
      flex: 1;
    }

    span[slot="prefix"] {
      display: flex;
      min-width: var(--field-size-small, 32px);
      align-items: center;
    }

    pap-icon {
      color: var(--pap-color-icon-secondary, #6E7087);

      &.selected {
        display: none;
      }
    }
  }
}


:host([counter]) pap-button::part(content) {
  max-width: calc(100% - 6rem);
}

:host(.selected) {
  pap-button {
    background-color: var(--pap-color-bg-tertiary, #EAEBEF);
    color: var(--pap-color-text, #29292F);

    pap-icon:not([name="indicator"]) {
      color: var(--pap-color-icon, #29292F);

      &.selected {
        display: flex;
      }

      &.unselected {
        display: none;
      }
    }
  }
}

:host pap-button:hover,
:host pap-button:active,
:host(.selected) pap-button {
  pap-badge::part(box) {
    background-color: var(--pap-color-bg, #FFFFFF) !important;
    border-color: var(--pap-color-border, #C7CBD4) !important;
    color: var(--pap-color-text, #29292F) !important;
  }
}

:host([open="false"]) {
  pap-icon[name="caret"] {
    transform: rotate(-90deg);
  }

  pap-divider {
    display: flex;
  }
}

:host([isparent="true"]) {
  pap-button {
    position: relative;
    height: var(--field-size-small, 32px);

    span[slot="prefix"] {
      color: var(--pap-color-icon-secondary, #6E7087);
      padding-left: calc(var(--padding-small, 8px) - var(--padding-smaller, 4px)); // 4px
    }

    pap-icon:not([name="caret"]) {
      display: none !important;
    }

    pap-typography {
      color: var(--pap-color-text-secondary, #6E7087);
    }
  }
}

:host([isparent="true"][sidebar-subitem]) {
  pap-button {
    padding-left: calc(var(--padding-left) + var(--padding-medium, 16px));

    span[slot="prefix"] {
      padding-left: calc(var(--padding-medium, 16px) - var(--padding-smaller, 4px)); // 12px
    }
  }
}

// collapsed
@container (max-width: 150px) {
  :host {
    pap-button {
      display: inline-flex;
      border-top-left-radius: var(--radius-max, 1000px);
      border-bottom-left-radius: var(--radius-max, 1000px);
      min-width: 0;
      padding: 0 !important;
      width: var(--field-size-medium, 40px) !important;
      height: var(--field-size-medium, 40px) !important;



      pap-icon {
        width: 100%;
      }
    }


    pap-typography,
    pap-badge,
    span[slot="prefix"],
    pap-divider {
      display: none !important;
    }
  }

  :host([isparent="true"]) {
    pap-button {
      &::after {
        width: var(--unit-size3, 16px);
        height: 1px;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--pap-color-border-secondary, #DADDE3);
      }
    }
  }
}