body {
  background-color: var(--o-color-bg-canvas);
  color: var(--o-color-text);
  font-family: var(--o-font-family);

  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto !important;
  min-height: 100vh;
}

body > o-tabs > o-tab-content {
  margin: 1rem;
}
body > o-tabs::part(header) {
  --tabs-height: 3rem;
}

body > o-tabs > o-tab-content[id="interactive"] {
  height: calc(100vh - 5rem) !important;
}
body > o-markdown {
  padding: 0;
}
