body {
  background-color: var(--o-color-bg-canvas);
  color: var(--o-color-text);
  font-family: var(--o-font-family);

  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto !important;
  min-height: 100vh;
}

o-tabs::part(header) {
  position: sticky;
  background-color: var(--o-color-bg-canvas);
  top: 0;
  left: 0;
  z-index: 100;
}

body > o-tabs > o-tab-content {
  margin: 1rem;
}

body > o-tabs > o-tab-content[id="interactive"] {
  height: calc(100vh - 5rem) !important;
}