$success: (
  filled: (
    default: (
      background: var(--pap-color-bg-success, #2E701B),
      text: var(--pap-color-text-onsuccess, #FFFFFF),
      icon: var(--pap-color-icon-onsuccess, #FFFFFF),
    ),
    hover: (
      background: var(--pap-color-bg-success-hover, #29591B),
      text: var(--pap-color-text-onsuccess-hover, #FFFFFF),
      icon: var(--pap-color-icon-onsuccess-hover, #FFFFFF),
    ),
    pressed: (
      background: var(--pap-color-bg-success-pressed, #244C1B),
      text: var(--pap-color-text-onsuccess-pressed, #FFFFFF),
      icon: var(--pap-color-icon-onsuccess-pressed, #FFFFFF),
    ),
  ),
  outlined: (
    default: (
      border: var(--pap-color-border-success, #2E701B),
      text: var(--pap-color-text-success, #29591B),
      icon: var(--pap-color-icon-success, #29591B),
    ),
    hover: (
      background: var(--pap-color-bg-success-hover, #29591B),
      icon: var(--pap-color-icon-onsuccess-hover, #FFFFFF),
      text: var(--pap-color-text-onsuccess-hover, #FFFFFF),
    ),
    pressed: (
      background: var(--pap-color-bg-success-pressed, #244C1B),
      text: var(--pap-color-text-onsuccess-pressed, #FFFFFF),
      icon: var(--pap-color-icon-onsuccess-pressed, #FFFFFF),
    ),
  ),
  clear: (
    default: (
      text: var(--pap-color-text-success, #29591B),
      icon: var(--pap-color-icon-success, #29591B),
    ),
    hover: (
      background: var(--pap-color-bg-success-hover, #29591B),
      icon: var(--pap-color-icon-onsuccess-hover, #FFFFFF),
      text: var(--pap-color-text-onsuccess-hover, #FFFFFF),
    ),
    pressed: (
      background: var(--pap-color-bg-success-pressed, #244C1B),
      text: var(--pap-color-text-onsuccess-pressed, #FFFFFF),
      icon: var(--pap-color-icon-onsuccess-pressed, #FFFFFF),
    ),
  ),
)