body pap-tab-content[id="showcase"]  {
  margin: 0;
}

/* BUG fixes */
 pap-tab-content[id="showcase"] main,
 pap-tab-content[id="showcase"] showcase-header {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}
/*** POSITION BOXES *************/

 pap-tab-content[id="showcase"] showcase-header {
  padding-inline: 10%;
}
 pap-tab-content[id="showcase"] showcase-card::part(box) {
  align-items: flex-start;
}
 pap-tab-content[id="showcase"] showcase-card > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small, 8px);
}
 pap-tab-content[id="showcase"] main {
  display: flex;
  flex-direction: column;
  gap: calc(3 * var(--gap-large, 24px));
  padding: var(--padding-large, 24px);
  padding-inline: 10%;
  background-color: var(--pap-color-bg, #FFFFFF);
  padding-block: calc(3 * var(--gap-large, 24px));
}
 pap-tab-content[id="showcase"] section {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-medium, 16px);
}
 pap-tab-content[id="showcase"] section.vertical {
  flex-direction: column;
}
 pap-tab-content[id="showcase"] .flex-vertical,
 pap-tab-content[id="showcase"] section > * {
  display: inline-flex;
  gap: var(--gap-small, 8px);
  flex-direction: column;
}
 pap-tab-content[id="showcase"] section > * {
  flex: 1 1 0px;
  width: 50%;
}


/*** MESSURE LINE *************/
 pap-tab-content[id="showcase"] .messure-line {
  position: relative;
}
 pap-tab-content[id="showcase"] .messure-line.top::before,
 pap-tab-content[id="showcase"] .messure-line.bottom::after,
 pap-tab-content[id="showcase"] .messure-line.left::before,
 pap-tab-content[id="showcase"] .messure-line.right::after,
 pap-tab-content[id="showcase"] .messure-line.both::before,
 pap-tab-content[id="showcase"] .messure-line.both::after {
  content: '';
}
 pap-tab-content[id="showcase"] .messure-line::before,
 pap-tab-content[id="showcase"] .messure-line::after { 
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;

  background-image: 
  linear-gradient(to left, var(--pap-color-border, #C7CBD4) 2px, transparent 2px),
  linear-gradient(to bottom, transparent calc(50% - 1px), var(--pap-color-border, #C7CBD4) calc(50% - 1px), var(--pap-color-border, #C7CBD4) calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(to right, var(--pap-color-border, #C7CBD4) 2px, transparent 2px);
}
 pap-tab-content[id="showcase"] .messure-line::before {
  transform: translateY(-100%);
  top: 0;
}
 pap-tab-content[id="showcase"] .messure-line::after {
  transform: translateY(100%);
  bottom: 0;
}
 pap-tab-content[id="showcase"] .messure-line.vertical::before,
 pap-tab-content[id="showcase"] .messure-line.vertical::after { 
  width: 1rem;
  height: 100%;
  left: auto;
  top: 0;

  background-image: 
    linear-gradient(to bottom, var(--pap-color-border, #C7CBD4) 2px, transparent 2px),
    linear-gradient(to left, transparent calc(50% - 1px), var(--pap-color-border, #C7CBD4) calc(50% - 1px), var(--pap-color-border, #C7CBD4) calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(to top, var(--pap-color-border, #C7CBD4) 2px, transparent 2px);
}
 pap-tab-content[id="showcase"] .messure-line.vertical::before {
  transform: translateX(-100%);
  left: 0;
}
 pap-tab-content[id="showcase"] .messure-line.vertical::after {
  transform: translateX(100%);
  right: 0;
}

/* custom style */ 

/* globals */
 pap-tab-content[id="showcase"] showcase-card.half::part(box) {
  min-height: 150px;
  gap: 4rem;
  padding-inline: 4rem;
  flex-direction: row;
  justify-content: flex-start;
}

/***************# component #**************************/
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr > td > div {
  display: inline-flex;
  flex-direction: column;
  gap: var(--gap-large, 24px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr > td:has(pap-button[color="inverse"]) {
  position: relative;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr > td:has(pap-button[color="inverse"])::before {
  background-color: var(--pap-color-bg-inverse, #29292F);
  content: '';
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  top: -15px;
  left: -15px;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:has(pap-button[color="inverse"]):first-child > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"])::before,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:not(:has(pap-button[color="inverse"])) + tr:has(pap-button[color="inverse"]) > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"])::before {
  border-top-left-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:has(pap-button[color="inverse"]):first-child > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"])::before,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:not(:has(pap-button[color="inverse"])) + tr:has(pap-button[color="inverse"]) > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"])::before {
  border-top-right-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:has(pap-button[color="inverse"]):first-child + tr:has(pap-button[color="inverse"]) + tr:has(pap-button[color="inverse"]) > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"])::before,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:not(:has(pap-button[color="inverse"])) + tr:has(pap-button[color="inverse"]) + tr:has(pap-button[color="inverse"]) + tr:has(pap-button[color="inverse"]) > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"])::before {
  border-bottom-left-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:has(pap-button[color="inverse"]):first-child + tr:has(pap-button[color="inverse"]) + tr:has(pap-button[color="inverse"]) > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"])::before,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr:not(:has(pap-button[color="inverse"])) + tr:has(pap-button[color="inverse"]) + tr:has(pap-button[color="inverse"]) + tr:has(pap-button[color="inverse"]) > td:not(:has(pap-button[color="inverse"])) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"]) + td:has(pap-button[color="inverse"])::before {
  border-bottom-right-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section tbody > tr > td:first-child {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section thead > tr > th {
  vertical-align: bottom;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_component + section pap-typography[variant="C4"] {
  color: var(--pap-color-text-secondary, #6E7087);
}


/***************# importance-hierarchy #***************/
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance showcase-card::part(box) {
  padding-bottom: 3rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance .messure-line.left {
  left: 0.5rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance table td + td {
  padding-left: var(--padding-medium, 16px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance .flex-vertical {
  padding-block: var(--gap-small, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance table tr > td:has(pap-typography[variant="C4"]) {
  position: relative;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance table tr > td:has(pap-typography[variant="C4"]) > pap-typography {
  position: absolute;
  left: 50%;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance table tr:first-child > td:has(pap-typography[variant="C4"]) > pap-typography {
  transform: translate(-44%, -110%);
  top: 0;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance table tr:last-child > td:has(pap-typography[variant="C4"]) > pap-typography {
  bottom: 0;
  transform: translate(-44%, 110%);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance table td:has(pap-typography[variant="C4"])::after,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_importance table td:has(pap-typography[variant="C4"])::before {
  left: 8px;
}


/* alignment */
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment showcase-card::part(box) {
  align-items: flex-start;
}

/* shared with visual weight */ 
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight div.center,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment div.center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: var(--gap-medium, 16px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .card,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card {
  padding: 1.5rem;
  background-color: var(--pap-color-bg, #FFFFFF);
  border-radius: var(--radius-medium, 8px);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--gap-small, 8px);
  overflow: hidden;
  box-sizing: border-box;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .line,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .line {
  content: '';
  width: 220px;
  height: 0.75rem;
  background-color: var(--pap-color-bg-tertiary, #EAEBEF);
  border-radius: var(--radius-max, 1000px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .line.short,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .line.short {
  width: 70px;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .button,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .button {
  content: '';
  width: 55px;
  height: 0.75rem;
  border-radius: var(--radius-max, 1000px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .button.filled,
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .button.filled {
  background-color: var(--pap-color-bg-brand, #009DD3);
}
/* end of share with visual weight */ 

 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card:not(.popup) {
  min-height: 150px;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .button-flex {
  display: flex;
  gap: var(--gap-small, 8px);
  margin-top: var(--margin-small, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment  pap-icon {
  color: var(--pap-color-icon, #29292F);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .button.outlined {
  border: 1px solid var(--pap-color-border-brand, #009DD3);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.right-align .button-flex {
  justify-content: flex-end;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.right-align::before {
  content: '';
  background-color: var(--pap-color-bg-inverse, #29292F);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .popup {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 2;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .popup .line:not(.short) {
  width: 160px;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .popup pap-icon {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.center-align {
  align-items: center;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.center-align > div.line:nth-child(1) {
  width: 60px;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.center-align > div.line:nth-child(2) {
  width: 120px;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.center-align > div.line:nth-child(3) {
  width: 100px;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.center-align > div.line:nth-child(4) {
  width: 80px;
  margin-bottom: var(--margin-small, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar {
  display: grid;
  padding: 0;
  gap: 0;
  grid-template-columns: 4rem 10rem;
  background-color: var(--pap-color-bg-canvas, #EAEBEF);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar > div {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--gap-small, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar > div + div {
  padding: 1.5rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar div.sidebar {
  padding: 0.5rem;
  background-color: var(--pap-color-bg, #FFFFFF);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar div.sidebar .line {
  height: 0.5rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar div.sidebar .button {
  height: 1rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar .line:not(.short),
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.sidebar .button {
  width: 100%;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.full .line:not(.short),
 pap-tab-content[id="showcase"] section#atoms_button_showcase_alignment .card.full .button {
  width: 120px;
}

/* visual-weight */
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .grid {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: 5rem 5rem;
  gap: var(--gap-medium, 16px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .grid .card {
  background-color: var(--pap-color-bg-tertiary, #EAEBEF);
  padding: 1rem;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .grid .card .button {
  width: 100%;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .button.outlined {
  border: 1px solid var(--pap-color-border, #C7CBD4);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: var(--gap-medium, 16px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_visual-weight .flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap-small, 8px);
}

/* inverse */
 pap-tab-content[id="showcase"] section#atoms_button_showcase_inverse showcase-card::part(box) {
  flex-direction: row;
  background-color: var(--pap-color-bg-inverse, #29292F);
}

/* group-display */
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-display + section showcase-card::part(box) {
  flex-direction: row;
  gap: 5rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-display + section showcase-card > div {
  flex-grow: 1;
  margin: 0;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-display + section showcase-card > div > div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 5rem;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-display + section .flex {
  display: flex;
  gap: var(--gap-medium, 16px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-display + section showcase-card .horizontal .flex {
  justify-content: center;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-display + section showcase-card .vertical .flex {
  flex-direction: column;
  gap: var(--gap-small, 8px);
}

/* group-danger-warning-success */
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-danger-warning-success .flex {
  display: flex;
  gap: var(--gap-small, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-danger-warning-success showcase-card::part(box) {
  flex-direction: row;
}

/* group-icons */
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-icons .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-small, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_group-icons td + td {
  padding-left: var(--padding-large, 24px);
}

/* examples */ 
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section {
  display: block;
  width: 100%;
  overflow-x: auto;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section .flex {
  display: flex;
  gap: var(--gap-small, 8px);
  justify-content: center;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div {
  flex-direction: row;
  gap: 0;
  width: 100%;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div {
  flex-grow: 1;
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div.radius-top-left {
  border-top-left-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div.radius-top-right {
  border-top-right-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div.radius-bottom-left {
  border-bottom-left-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div.radius-bottom-right {
  border-bottom-right-radius: var(--radius-medium, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div {
  background-color: var(--pap-color-bg, #FFFFFF);
  padding: var(--padding-large, 24px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div + div {
  background-color: var(--pap-color-bg-secondary, #F6F7F8);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div + div + div {
  background-color: var(--pap-color-bg-tertiary, #EAEBEF);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div > span {
  text-align: center;
  margin-bottom: var(--margin-small, 8px);
}
 pap-tab-content[id="showcase"] section#atoms_button_showcase_examples + section > div > div > span > pap-typography {
  background-color: var(--pap-color-bg-tertiary, #EAEBEF);
  color: var(--pap-color-text-ontertiary);
  padding: var(--padding-small, 8px);
  border-radius: var(--radius-small, 4px);
}