:host {
  container-type: inline-size;
  display: block;

  header {
    display: flex;
    flex-direction: row;

    div.top {
      flex: 1;
    }

    &>pap-divier {
      display: none;
    }
  }

  div {
    display: flex;
    align-items: center;

    height: var(--field-size-medium, 40px);

    pap-search {
      margin-left: auto;
    }

    &.actions {
      gap: var(--gap-small, 8px);
      padding-inline: var(--padding-small, 8px);

      &:empty {
        display: none;
      }

      pap-button:nth-child(n + 7) {
        display: none;
      }

      pap-button:last-child {
        display: block;
      }

      pap-menu {

        // Hide menu by default
        display: none;

        pap-menu-item:nth-child(-n+7) {
          display: none;
        }

        // Show menu only if there are more than 6 items
        &:has(pap-menu-item:nth-child(6)) {
          display: block;
        }
      }
    }
  }

  div:has(pap-search[mode=fixed]),
  div:has(pap-search[toggled=true]) {
    pap-typography {
      display: none;
    }

    pap-search {
      flex: 1;
    }
  }
}

// small screens 
@container (max-width: 768px) {
  :host {
    div.actions {
      pap-button:nth-child(n + 3) {
        display: none;
      }

      pap-button:last-child {
        display: block;
      }

      pap-menu {
        pap-menu-item:nth-child(-n+3) {
          display: none;
        }

        pap-menu-item:nth-child(n+4) {
          display: block;
        }

        // Show menu only if there are more than 4 items
        &:has(pap-menu-item:nth-child(4)) {
          display: block;
        }
      }
    }
  }
}

@container (max-width: 320px) {
  :host {
    header {
      flex-direction: column;

      &>pap-divier {
        display: block;
      }

      div.bottom {
        flex-direction: row-reverse;

        pap-button[data-name="save"] {
          margin-right: auto;
        }

        ::slotted([slot="save"]) {
          margin-right: auto;
        }

        pap-divider {
          display: none;
        }
      }
    }
  }
}