body {
  background-color: var(--pap-color-bg-canvas, #EAEBEF);
  color: var(--pap-color-text, #29292F);
  font-family: var(--pap-font-family);
}

pap-codeblock::part(fieldset) {
  overflow-x: hidden;
  position: relative;
}

pap-sidebar {
  max-height: 60rem;
}

pap-sidebar::part(base) {
  max-height: 60rem;
  position: relative;
}

pap-sidebar[mode="hover"]::part(base) {
  position: absolute;
}

.balloon {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.balloon1 {
  top: 10%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--pap-color-bg-warning, #FFA800);
}

.balloon2 {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: var(--pap-color-accent-02-300);
}

.balloon3 {
  top: 30%;
  left: 60%;
  width: 200px;
  height: 200px;
  background-color: var(--pap-color-bg-success, #2E701B);
}

.balloon4 {
  top: 20%;
  left: 40%;
  width: 160px;
  height: 160px;
  background-color: var(--pap-color-bg-danger, #B70E1E);
}