:host {
    display: inline-block;
    background-color: var(--o-color-bg);
    color: var(--o-color-text);
    width: 100%;
    padding: var(--padding-large);
    box-sizing: border-box;
    border-radius: var(--radius-medium);
    margin-bottom: var(--margin-medium);
}