// VARIABLES
:host {
  --button-color: var(--navbaritem-light-text-color, var(--primary-100, #8A8D96));
  --button-color-selected: var(--navbaritem-light-text-color-selected, var(--primary-600, #000000));

  --button-background: var(--navbaritem-light-background, var(--neutral-100, white));
  --button-background-selected: var(--navbaritem-light-background-selected, var(--neutral-300, #F1F1F4));
  --button-background-hover: var(--navbaritem-light-background-hover, var(--neutral-300, #F1F1F4));
  --button-background-active: var(--navbaritem-light-background-active, var(--neutral-300, #F1F1F4));

  --indicator: var(--button-background);
  --indicator-selected: var(--navbaritem-light-indicator-selected, var(--b1-300, #009DD3));

  --count-border: var(--navbaritem-light-count-border-color, var(--neutral-300, #F1F1F4));
  --count-background: var(--navbaritem-light-count-background-color, var(--neutral-100, #ffffff));
  --count-background-selected: var(--navbaritem-light-count-background-color-selected, var(--neutral-200, #F8F8F8));
}

// @media (prefers-color-scheme: dark) {
//   :host {
//     // TODO add these
//     --button-background: var(--navbar-item-background-dark, var(--neutral-100, rgb(0, 0, 0)));
//     --button-background-selected: var(--navbar-item-background--selected-dark, var(--neutral-grey700, #0c0c0d));
//     --button-background-hover: var(--navbar-item-background--hover-dark, var(--neutral-grey700, #0c0c0d));
//     --button-background-active: var(--navbar-item-background--active-dark, var(--neutral-grey700, #0c0c0d));
//   }
// }

// PROPERTIES
:host {
  display: block;
  min-width: 56px;
  container-type: inline-size;

  o-button {
    --button-text-color-filled: var(--button-color);
    --button-text-color-filled-hover: var(--button-color-selected);
    --button-text-color-filled-active: var(--button-color-selected);
    --button-background-color-filled: var(--button-background);
    --button-background-color-filled-hover: var(--button-background-hover);
    --button-background-color-filled-active: var(--button-background-active);

    span[slot="prefix"] {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.indicator {
        &::after {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
  
          background-color: var(--indicator);
        }
      }

      &.caret {
        display: none;
      }
    }

    span.group {
      flex-grow: 1;
      display: inline-flex;
      align-items: center;
      gap: 12px;
      white-space: nowrap;
    }

    &:hover {
      --indicator: var(--button-background-hover);
    }
    &:active {
      --indicator: var(--button-background-active);
    }
    
    o-box-template.counter {
      background-color: var(--count-background);
      border: 1px solid var(--count-border);
      color: var(--button-color);
      width: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      box-sizing: border-box;
    }
  
    o-icon {
      &.selected {
        display: none;
      }
    }
  }

  o-accordion {
    padding-left: 1rem;

    ::slotted(o-navbar-item) {
      margin-block: var(--margin-small, 8px);
    }
  }
}
:host([isparent="true"]) {
  span[slot="prefix"] {
    &.indicator {
      display: none;
    }
    &.caret {
      display: flex;
    }
  }
}

:host(.selected) {
  o-button {
    --button-background-color-filled: var(--button-background-selected);
    --button-text-color-filled: var(--button-color-selected);

    &:hover {
      --indicator: var(--indicator-selected);
    }
    &:active {
      --indicator: var(--indicator-selected);
    }

    o-icon {
      &.selected {
        display: initial;
      }
      &.unselected {
        display: none;
      }
    }
  }
  --indicator: var(--indicator-selected);
}
:host([accordionopen="false"]) {
  span[slot="prefix"].caret {
    transform: rotate(-90deg);
  }
}
// :host([isparent="false"].selected) {}

@container (max-width: 150px) {
  :host {
    o-button {
      o-typography,
      o-box-template.counter,
      span[slot="prefix"] {
        display: none !important;
      }

      span.group {
        justify-content: center;
        width: 100%;
      }
    }

    o-accordion {
      display: none;
    }
  }
}
@container (min-width: 150px) {
  :host {
    o-button {
      padding-left: 0;
    }
  }
}