body {
  background-color: var(--o-color-canvas-50);
  color: var(--o-color-black);
}

body {
  font-family: var(--o-font-family);
}

section.control {
    width: 100%;
}

code-block::part(fieldset) {
    height: 30rem;
}