$size-map: (
  small: (
    height: 32px,
    padding: 0.5rem,
  ),
  medium: (
    height: 40px,
    padding: 1rem,
  ),
  large: (
    height: 56px,
    padding: 1rem,
  ),
);

@each $name, $value in $size-map {
    :host([size="#{$name}"]) {
        o-box-template.wrapper {
            height: var(--field-height-#{$name}, var(--height-#{$name}, #{map-get($value, height)}));
            // padding: var(--field-padding-#{$name}, var(--padding-#{$name}, #{map-get($value, padding)}));
        }
    }
} 

:host {
    --border: var(--o-field-background-color-light, var(--o-color-black, black));
    --outline: var(--o-field-background-color-light, rgb(90, 46, 250));
    --color: var(--o-field-text-color-light, var(--o-color-black, black));

    display: block;
    color: var(--color);

    o-box-template.wrapper {
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        padding-inline: 0.5rem;
        border: 1px solid var(--border);

        ::slotted(*:not([slot])),        
        input, select, textarea {
            color: inherit;

            font-family: var(--input-fontfamily, var(--typography-c3-fontfamily));
            font-size: var(--input-fontsize, var(--typography-c3-fontsize, 16px));
            font-weight: var(--input-fontweight, var(--typography-c3-fontweight, 400));
            line-height: var(--input-lineheight, var(--typography-c3-lineheight, 24px));
            letter-spacing: var(--input-letterspacing, var(--typography-c3-letterspacing, 0.01em));
            
            flex-grow: 1;
            display: block;
            // padding-block: 0.5rem;
            border: none;
            background-color: transparent;
            outline: none !important;
        }
    }

    &:focus {
        outline: none;
    }
}

:host([hasfocus="true"]),
:host(:focus) {
    outline: none;

    o-box-template.wrapper {
        outline: 1px solid var(--outline);
    }
}

@media (prefers-color-scheme: dark) {
    :host {
        --border: var(--o-field-background-color-dark, var(--o-color-black, white));
        --outline: var(--o-field-background-color-dark, rgb(195, 211, 255));
        --color: var(--o-field-text-color-dark, var(--o-color-black, white));
    }
}