$size-map: (
  small: (
    height: var(--field-size-small),
    blockheight: var(--field-size-small),
    padding: var(--padding-small),
  ),
  medium: (
    height: var(--field-size-medium),
    blockheight: var(--field-size-small),
    padding: var(--padding-medium),
  ),
  large: (
    height: var(--field-size-large),
    blockheight: var(--field-size-small),
    padding: var(--padding-medium),
  ),
);

@each $name, $value in $size-map {
    :host([size="#{$name}"]) {
        o-box-template.wrapper {
            height: var(--o-field-height-#{$name}, #{map-get($value, height)});
        }
        footer,
        header {
            height: var(--o-field-block-height-#{$name}, #{map-get($value, blockheight)});
        }
    }
} 

:host {
    --border: var(--o-field-background-color-light, var(--o-color-black, black));
    --outline: var(--o-field-background-color-light, rgb(90, 46, 250));
    --color: var(--o-field-text-color-light, var(--o-color-black, black));

    display: block;
    color: var(--color);

    footer,
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--padding-small);
    }

    o-box-template.wrapper {
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        padding-inline: var(--padding-medium);
        border: 1px solid var(--border);

        ::slotted(*:not([slot])),        
        input, select, textarea {
            color: inherit;

            font-family: var(--input-fontfamily, var(--typography-c3-fontfamily));
            font-size: var(--input-fontsize, var(--typography-c3-fontsize, 16px));
            font-weight: var(--input-fontweight, var(--typography-c3-fontweight, 400));
            line-height: var(--input-lineheight, var(--typography-c3-lineheight, 24px));
            letter-spacing: var(--input-letterspacing, var(--typography-c3-letterspacing, 0.01em));
            
            flex-grow: 1;
            display: block;
            border: none;
            background-color: transparent;
            outline: none !important;
        }

        ::slotted(*[slot="prefix"]) {
            margin-right: var(--gap-small);
        }
        ::slotted(*[slot="suffix"]) {
            margin-left: var(--gap-small);
        }
    }

    &:focus {
        outline: none;
    }
}

:host([hasfocus="true"]),
:host(:focus) {
    outline: none;

    o-box-template.wrapper {
        outline: 1px solid var(--outline);
    }
}

@media (prefers-color-scheme: dark) {
    :host {
        --border: var(--o-field-background-color-dark, var(--o-color-black, white));
        --outline: var(--o-field-background-color-dark, rgb(195, 211, 255));
        --color: var(--o-field-text-color-dark, var(--o-color-black, white));
    }
}