:host {
  --button-background-color-clear-hover: var(--o-smiley-hover-background, var(--o-color-hover-200, rgba(0,0,0,0.05)));
  --color: var(--o-chat-writer-text-color-light, var(--o-color-black, black));

  div.accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows ease 500ms;
    overflow: hidden;

    o-chat-smileys {
      overflow: hidden;
    }
  }

  div {
    display: flex;
    align-items: center;
  
    o-input {
      flex-grow: 1;
      margin-inline: 0.5rem;
      &::part(wrapper) {
        gap: 0;
      }
    }
  
    o-button {
      padding: 0.4rem;
      gap: 0;

      o-icon {
        color: var(--color);
      }

      &.smiley-close {
        display: none;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    --color: var(--o-chat-writer-text-color-dark, var(--o-color-black, white));
  }
}

:host([smileyopen="true"]) {
  
  div.accordion {
    grid-template-rows: 1fr;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
  }

  o-button.smiley-close {
    display: block;
  }
}