body {
  background-color: var(--o-color-bg-canvas);
  color: var(--o-color-text);
}

body {
  font-family: var(--o-font-family);
}

button {
    padding: 0.5rem 1rem;
}
div.card {
    min-width: 300px;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
}
  