@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: Poppins, sans-serif;
}

button {
    padding: 0.5rem 1rem;
}
div.card {
    min-width: 300px;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
}
  