body {
  background-color: var(--o-color-canvas-50);
  color: var(--o-color-black);
}

body {
  font-family: var(--o-font-family);
}

div.flex {
  display: flex;
  align-items: center;
}

div.flex o-field-template {
  flex-grow: 1;
}