body {
  background-color: var(--o-color-bg-canvas, #EAEBEF);
  color: var(--o-color-text, #29292F);
}

body {
  font-family: var(--o-font-family);
}

div.flex {
  display: flex;
  align-items: center;
}

div.flex o-field-template {
  flex-grow: 1;
}