@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: Poppins, sans-serif;
}

div.flex {
  display: flex;
  align-items: center;
}

div.flex o-field-template {
  flex-grow: 1;
}