:root {
  color-scheme: dark;


  /*
  * Primitive Tokens
  */

  /* Clear Clue */
  --o-color-clear-blue-50: #002652;
  --o-color-clear-blue-100: #0050B3;
  --o-color-clear-blue-200: #0059E6;
  --o-color-clear-blue-300: #0068FF;
  --o-color-clear-blue-400: #0083FF;
  --o-color-clear-blue-500: #359DFC;
  --o-color-clear-blue-600: #5BBBFF;
  --o-color-clear-blue-700: #90D5FF;
  --o-color-clear-blue-800: #BDE4FF;
  --o-color-clear-blue-900: #DAEFFF;
  --o-color-clear-blue-950: #EEF8FF;

  /* Cerulean Azure */
  --o-color-cerulean-azure-50: #07354A;
  --o-color-cerulean-azure-100: #0B526F;
  --o-color-cerulean-azure-200: #066486;
  --o-color-cerulean-azure-300: #0177A3;
  --o-color-cerulean-azure-400: #009DD3;
  --o-color-cerulean-azure-500: #0CB9EB;
  --o-color-cerulean-azure-600: #36CEFA;
  --o-color-cerulean-azure-700: #7CDEFD;
  --o-color-cerulean-azure-800: #B9ECFE;
  --o-color-cerulean-azure-900: #E0F5FE;
  --o-color-cerulean-azure-950: #F0FAFF;

  /* Golden Sea */
  --o-color-golden-sea-50: #481B00;
  --o-color-golden-sea-100: #7C370B;
  --o-color-golden-sea-200: #984308;
  --o-color-golden-sea-300: #BB5802;
  --o-color-golden-sea-400: #E27F00;
  --o-color-golden-sea-500: #FFA800;
  --o-color-golden-sea-600: #FFCE00;
  --o-color-golden-sea-700: #FFDD46;
  --o-color-golden-sea-800: #FFED85;
  --o-color-golden-sea-900: #FFF6C5;
  --o-color-golden-sea-950: #FFFDEA;

  /* Purple Raker */
  --o-color-purple-raker-50: #281F56;
  --o-color-purple-raker-100: #423280;
  --o-color-purple-raker-200: #503B9C;
  --o-color-purple-raker-300: #6046BB;
  --o-color-purple-raker-400: #7959CE;
  --o-color-purple-raker-500: #8376DC;
  --o-color-purple-raker-600: #A39EE7;
  --o-color-purple-raker-700: #C3C1F1;
  --o-color-purple-raker-800: #D8D8F6;
  --o-color-purple-raker-900: #EDEDFA;
  --o-color-purple-raker-950: #F5F5FD;

  /* Salem Green */
  --o-color-salem-green-50: #052E1C;
  --o-color-salem-green-100: #155236;
  --o-color-salem-green-200: #17643F;
  --o-color-salem-green-300: #17834F;
  --o-color-salem-green-400: #18A15E;
  --o-color-salem-green-500: #24C376;
  --o-color-salem-green-600: #4CDC95;
  --o-color-salem-green-700: #87EEBB;
  --o-color-salem-green-800: #BCF6D8;
  --o-color-salem-green-900: #DCFCEC;
  --o-color-salem-green-950: #F0FDF6;

  /* Tea Green */
  --o-color-tea-green-50: #0F2A09;
  --o-color-tea-green-100: #244C1B;
  --o-color-tea-green-200: #29591B;
  --o-color-tea-green-300: #2E701B;
  --o-color-tea-green-400: #3A931D;
  --o-color-tea-green-500: #4FB82A;
  --o-color-tea-green-600: #6ED348;
  --o-color-tea-green-700: #94E274;
  --o-color-tea-green-800: #CAF2B8;
  --o-color-tea-green-900: #DDF7D0;
  --o-color-tea-green-950: #F0FBEA;

  /* Hibiscus Red */
  --o-color-hibiscus-red-50: #4A050C;
  --o-color-hibiscus-red-100: #871520;
  --o-color-hibiscus-red-200: #A3111F;
  --o-color-hibiscus-red-300: #B70E1E;
  --o-color-hibiscus-red-400: #EB172B;
  --o-color-hibiscus-red-500: #FD3649;
  --o-color-hibiscus-red-600: #FF6674;
  --o-color-hibiscus-red-700: #FF9EA7;
  --o-color-hibiscus-red-800: #FFC6CB;
  --o-color-hibiscus-red-900: #FFE0E3;
  --o-color-hibiscus-red-950: #FFF1F2;

  /* Ghost Gray */
  --o-color-ghost-gray-50: #000000;
  --o-color-ghost-gray-100: #161A1D;
  --o-color-ghost-gray-200: #1D2125;
  --o-color-ghost-gray-300: #22272B;
  --o-color-ghost-gray-400: #272E33;
  --o-color-ghost-gray-500: #444F59;
  --o-color-ghost-gray-600: #8B9BAB;
  --o-color-ghost-gray-700: #B6C2CF;
  --o-color-ghost-gray-800: #C7D1DB;
  --o-color-ghost-gray-900: #DDE4EA;
  --o-color-ghost-gray-950: #FFFFFF;

  /* Mountain White */
  --o-color-mountain-white-50: #262626;
  --o-color-mountain-white-100: #3D3D3D;
  --o-color-mountain-white-200: #454545;
  --o-color-mountain-white-300: #4F4F4F;
  --o-color-mountain-white-400: #5D5D5D;
  --o-color-mountain-white-500: #6D6D6D;
  --o-color-mountain-white-600: #989898;
  --o-color-mountain-white-700: #B0B0B0;
  --o-color-mountain-white-800: #D1D1D1;
  --o-color-mountain-white-900: #E7E7E7;
  --o-color-mountain-white-950: #F6F6F6;


  /*
  * Theme Tokens
  */

  /* Primary */
  --o-color-primary-50: var(--o-color-cerulean-azure-50);
  --o-color-primary-100: var(--o-color-cerulean-azure-100);
  --o-color-primary-200: var(--o-color-cerulean-azure-200);
  --o-color-primary-300: var(--o-color-cerulean-azure-300);
  --o-color-primary-400: var(--o-color-cerulean-azure-400);
  --o-color-primary-500: var(--o-color-cerulean-azure-500);
  --o-color-primary-600: var(--o-color-cerulean-azure-600);
  --o-color-primary-700: var(--o-color-cerulean-azure-700);
  --o-color-primary-800: var(--o-color-cerulean-azure-800);
  --o-color-primary-900: var(--o-color-cerulean-azure-900);
  --o-color-primary-950: var(--o-color-cerulean-azure-950);

  /* Secondary */
  --o-color-secondary-50: var(--o-color-clear-blue-50);
  --o-color-secondary-100: var(--o-color-clear-blue-100);
  --o-color-secondary-200: var(--o-color-clear-blue-200);
  --o-color-secondary-300: var(--o-color-clear-blue-300);
  --o-color-secondary-400: var(--o-color-clear-blue-400);
  --o-color-secondary-500: var(--o-color-clear-blue-500);
  --o-color-secondary-600: var(--o-color-clear-blue-600);
  --o-color-secondary-700: var(--o-color-clear-blue-700);
  --o-color-secondary-800: var(--o-color-clear-blue-800);
  --o-color-secondary-900: var(--o-color-clear-blue-900);
  --o-color-secondary-950: var(--o-color-clear-blue-950);

  /* Accent 01 */
  --o-color-accent-01-50: var(--o-color-golden-sea-50);
  --o-color-accent-01-100: var(--o-color-golden-sea-100);
  --o-color-accent-01-200: var(--o-color-golden-sea-200);
  --o-color-accent-01-300: var(--o-color-golden-sea-300);
  --o-color-accent-01-400: var(--o-color-golden-sea-400);
  --o-color-accent-01-500: var(--o-color-golden-sea-500);
  --o-color-accent-01-600: var(--o-color-golden-sea-600);
  --o-color-accent-01-700: var(--o-color-golden-sea-700);
  --o-color-accent-01-800: var(--o-color-golden-sea-800);
  --o-color-accent-01-900: var(--o-color-golden-sea-900);
  --o-color-accent-01-950: var(--o-color-golden-sea-950);

  /* Accent 02 */
  --o-color-accent-02-50: var(--o-color-purple-raker-50);
  --o-color-accent-02-100: var(--o-color-purple-raker-100);
  --o-color-accent-02-200: var(--o-color-purple-raker-200);
  --o-color-accent-02-300: var(--o-color-purple-raker-300);
  --o-color-accent-02-400: var(--o-color-purple-raker-400);
  --o-color-accent-02-500: var(--o-color-purple-raker-500);
  --o-color-accent-02-600: var(--o-color-purple-raker-600);
  --o-color-accent-02-700: var(--o-color-purple-raker-700);
  --o-color-accent-02-800: var(--o-color-purple-raker-800);
  --o-color-accent-02-900: var(--o-color-purple-raker-900);
  --o-color-accent-02-950: var(--o-color-purple-raker-950);

  /* Success */
  --o-color-success-50: var(--o-color-tea-green-50);
  --o-color-success-100: var(--o-color-tea-green-100);
  --o-color-success-200: var(--o-color-tea-green-200);
  --o-color-success-300: var(--o-color-tea-green-300);
  --o-color-success-400: var(--o-color-tea-green-400);
  --o-color-success-500: var(--o-color-tea-green-500);
  --o-color-success-600: var(--o-color-tea-green-600);
  --o-color-success-700: var(--o-color-tea-green-700);
  --o-color-success-800: var(--o-color-tea-green-800);
  --o-color-success-900: var(--o-color-tea-green-900);
  --o-color-success-950: var(--o-color-tea-green-950);

  /* Warning */
  --o-color-warning-50: var(--o-color-golden-sea-50);
  --o-color-warning-100: var(--o-color-golden-sea-100);
  --o-color-warning-200: var(--o-color-golden-sea-200);
  --o-color-warning-300: var(--o-color-golden-sea-300);
  --o-color-warning-400: var(--o-color-golden-sea-400);
  --o-color-warning-500: var(--o-color-golden-sea-500);
  --o-color-warning-600: var(--o-color-golden-sea-600);
  --o-color-warning-700: var(--o-color-golden-sea-700);
  --o-color-warning-800: var(--o-color-golden-sea-800);
  --o-color-warning-900: var(--o-color-golden-sea-900);
  --o-color-warning-950: var(--o-color-golden-sea-950);

  /* Danger */
  --o-color-danger-50: var(--o-color-hibiscus-red-50);
  --o-color-danger-100: var(--o-color-hibiscus-red-100);
  --o-color-danger-200: var(--o-color-hibiscus-red-200);
  --o-color-danger-300: var(--o-color-hibiscus-red-300);
  --o-color-danger-400: var(--o-color-hibiscus-red-400);
  --o-color-danger-500: var(--o-color-hibiscus-red-500);
  --o-color-danger-600: var(--o-color-hibiscus-red-600);
  --o-color-danger-700: var(--o-color-hibiscus-red-700);
  --o-color-danger-800: var(--o-color-hibiscus-red-800);
  --o-color-danger-900: var(--o-color-hibiscus-red-900);
  --o-color-danger-950: var(--o-color-hibiscus-red-950);

  /* Neutral */
  --o-color-neutral-50: var(--o-color-ghost-gray-50);
  --o-color-neutral-100: var(--o-color-ghost-gray-100);
  --o-color-neutral-200: var(--o-color-ghost-gray-200);
  --o-color-neutral-300: var(--o-color-ghost-gray-300);
  --o-color-neutral-400: var(--o-color-ghost-gray-400);
  --o-color-neutral-500: var(--o-color-ghost-gray-500);
  --o-color-neutral-600: var(--o-color-ghost-gray-600);
  --o-color-neutral-700: var(--o-color-ghost-gray-700);
  --o-color-neutral-800: var(--o-color-ghost-gray-800);
  --o-color-neutral-900: var(--o-color-ghost-gray-900);
  --o-color-neutral-950: var(--o-color-ghost-gray-950);

  /*
  * Color tokens 
  */ 

  /* Text */
  --o-color-text: var(--o-color-neutral-950);
  --o-color-text-secondary: var(--o-color-neutral-700);
  --o-color-text-onsecondary: var(--o-color-neutral-950);
  --o-color-text-secondary-onsecondary: var(--o-color-neutral-700);
  --o-color-text-ontertiary: var(--o-color-neutral-950);
  --o-color-text-secondary-ontertiary: var(--o-color-neutral-700);
  --o-color-text-inverse: var(--o-color-neutral-100);
  --o-color-text-oninverse: var(--o-color-neutral-100);
  --o-color-text-oninverse-onsecondary: var(--o-color-neutral-100);
  --o-color-text-oninverse-onstrong: var(--o-color-neutral-100);
  --o-color-text-brand: var(--o-color-primary-600);
  --o-color-text-onbrand: var(--o-color-neutral-950);
  --o-color-text-onbrand-hover: var(--o-color-neutral-950);
  --o-color-text-onbrand-pressed: var(--o-color-neutral-950);
  --o-color-text-brand-strong: var(--o-color-neutral-950);
  --o-color-text-onbrand-onsecondary: var(--o-color-primary-100);
  --o-color-text-onbrand-onstrong: var(--o-color-secondary-50);
  --o-color-text-onaccent-01: var(--o-color-secondary-50);
  --o-color-text-onaccent-01-onsecondary: var(--o-color-secondary-50);
  --o-color-text-onaccent-02: var(--o-color-neutral-950);
  --o-color-text-onaccent-02-onsecondary: var(--o-color-accent-02-200);
  --o-color-text-information: var(--o-color-secondary-700);
  --o-color-text-information-onsecondary: var(--o-color-secondary-700);
  --o-color-text-information-ontertiary: var(--o-color-secondary-700);
  --o-color-text-oninformation: var(--o-color-neutral-950);
  --o-color-text-oninformation-onsecondary: var(--o-color-secondary-200);
  --o-color-text-success: var(--o-color-success-700);
  --o-color-text-success-onsecondary: var(--o-color-success-700);
  --o-color-text-success-ontertiary: var(--o-color-success-700);
  --o-color-text-onsuccess: var(--o-color-neutral-950);
  --o-color-text-onsuccess-onsecondary: var(--o-color-success-200);
  --o-color-text-strong-onsuccess-onsecondary: var(--o-color-neutral-300);
  --o-color-text-warning: var(--o-color-warning-500);
  --o-color-text-warning-onsecondary: var(--o-color-warning-500);
  --o-color-text-warning-ontertiary: var(--o-color-warning-500);
  --o-color-text-onwarning: var(--o-color-neutral-300);
  --o-color-text-onwarning-onsecondary: var(--o-color-warning-200);
  --o-color-text-danger: var(--o-color-danger-700);
  --o-color-text-danger-onsecondary: var(--o-color-danger-700);
  --o-color-text-danger-ontertiary: var(--o-color-danger-700);
  --o-color-text-ondanger: var(--o-color-neutral-950);
  --o-color-text-ondanger-onsecondary: var(--o-color-danger-200);
  --o-color-text-disabled: var(--o-color-neutral-600);
  --o-color-text-link: var(--o-color-primary-600);
  --o-color-text-link-oninverse: var(--o-color-primary-300);

  /* Background */
  --o-color-bg: var(--o-color-neutral-200);
  --o-color-bg-secondary: var(--o-color-neutral-300);
  --o-color-bg-tertiary: var(--o-color-neutral-400);
  --o-color-bg-canvas: var(--o-color-neutral-100);
  --o-color-bg-inverse: var(--o-color-neutral-950);
  --o-color-bg-inverse-secondary: var(--o-color-neutral-900);
  --o-color-bg-inverse-strong: var(--o-color-neutral-950);
  --o-color-bg-brand: var(--o-color-primary-400);
  --o-color-bg-brand-hover: var(--o-color-primary-500);
  --o-color-bg-brand-pressed: var(--o-color-secondary-100);
  --o-color-bg-brand-secondary: var(--o-color-primary-800);
  --o-color-bg-brand-strong: var(--o-color-neutral-950);
  --o-color-bg-accent-01: var(--o-color-accent-01-600);
  --o-color-bg-accent-01-secondary: var(--o-color-accent-01-800);
  --o-color-bg-accent-02: var(--o-color-accent-02-400);
  --o-color-bg-accent-02-secondary: var(--o-color-accent-02-800);
  --o-color-bg-information: var(--o-color-secondary-400);
  --o-color-bg-information-secondary: var(--o-color-secondary-800);
  --o-color-bg-success: var(--o-color-success-400);
  --o-color-bg-success-secondary: var(--o-color-success-800);
  --o-color-bg-warning: var(--o-color-warning-500);
  --o-color-bg-warning-secondary: var(--o-color-warning-800);
  --o-color-bg-danger: var(--o-color-danger-400);
  --o-color-bg-danger-secondary: var(--o-color-danger-800);
  --o-color-bg-disabled: var(--o-color-neutral-500);

  /* Icon */
  --o-color-icon: var(--o-color-neutral-950);
  --o-color-icon-secondary: var(--o-color-neutral-700);
  --o-color-icon-onsecondary: var(--o-color-neutral-950);
  --o-color-icon-ontertiary: var(--o-color-neutral-950);
  --o-color-icon-inverse: var(--o-color-neutral-100);
  --o-color-icon-oninverse: var(--o-color-neutral-100);
  --o-color-icon-brand: var(--o-color-primary-400);
  --o-color-icon-onbrand: var(--o-color-neutral-950);
  --o-color-icon-success: var(--o-color-success-700);
  --o-color-icon-onsuccess: var(--o-color-neutral-950);
  --o-color-icon-strong-onsuccess-onsecondary: var(--o-color-neutral-300);
  --o-color-icon-warning: var(--o-color-warning-500);
  --o-color-icon-onwarning: var(--o-color-neutral-300);
  --o-color-icon-danger: var(--o-color-danger-700);
  --o-color-icon-ondanger: var(--o-color-neutral-950);
  --o-color-icon-disabled: var(--o-color-neutral-600);

  /* Border */
  --o-color-border: var(--o-color-neutral-500);
  --o-color-border-secondary: var(--o-color-neutral-400);
  --o-color-border-tertiary: var(--o-color-neutral-300);
  --o-color-border-strong: var(--o-color-neutral-950);
  --o-color-border-inverse: var(--o-color-neutral-900);
  --o-color-border-inverse-strong: var(--o-color-neutral-100);
  --o-color-border-brand: var(--o-color-primary-400);
  --o-color-border-accent-02-secondary: var(--o-color-accent-02-700);
  --o-color-border-information-secondary: var(--o-color-secondary-700);
  --o-color-border-success: var(--o-color-success-600);
  --o-color-border-success-secondary: var(--o-color-success-700);
  --o-color-border-warning: var(--o-color-warning-500);
  --o-color-border-warning-secondary: var(--o-color-warning-700);
  --o-color-border-danger: var(--o-color-danger-600);
  --o-color-border-danger-secondary: var(--o-color-danger-700);

  /* SHADOW COLORS */
  --o-color-shadow-50:  rgba(0, 0, 0, 0.75);
  --o-color-shadow-100: rgba(0, 0, 0, 0.8);
  --o-color-shadow-200: rgba(0, 0, 0, 0.85);
  --o-color-shadow-300: rgba(0, 0, 0, 0.9);
  --o-color-shadow-400: rgba(0, 0, 0, 0.95);
  --o-color-shadow-500: rgba(0, 0, 0, 1);
  --o-color-shadow-600: rgba(0, 0, 0, 1);
  --o-color-shadow-700: rgba(0, 0, 0, 1);
  --o-color-shadow-800: rgba(0, 0, 0, 1);
  --o-color-shadow-900: rgba(0, 0, 0, 1);
  --o-color-shadow-950: rgba(0, 0, 0, 1);

  /* HOVER COLORS */
  --o-color-hover-50:  rgba(255, 255, 255, 0.01);
  --o-color-hover-100: rgba(255, 255, 255, 0.03);
  --o-color-hover-200: rgba(255, 255, 255, 0.05);
  --o-color-hover-300: rgba(255, 255, 255, 0.08);
  --o-color-hover-400: rgba(255, 255, 255, 0.1);
  --o-color-hover-500: rgba(255, 255, 255, 0.2);
  --o-color-hover-600: rgba(255, 255, 255, 0.3);
  --o-color-hover-700: rgba(255, 255, 255, 0.4);
  --o-color-hover-800: rgba(255, 255, 255, 0.5);
  --o-color-hover-900: rgba(255, 255, 255, 0.6);
  --o-color-hover-950: rgba(255, 255, 255, 0.7);
}