:host {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "label input"
        "message message";
    align-items: center;
    column-gap: var(--gap-small, 8px);
    cursor: pointer;

    &::part(label) {
        grid-area: label;
    }
    &::part(wrapper) {
        padding-inline: 0;
        display: block;
        border: none;
        height: auto;

        grid-area: input;
    }

    &::part(message) {
        grid-area: message;
    }
}

$size-map: (
  small: (
    size: 15px,
  ),
  medium: (
    size: 20px,
  ),
  large: (
    size: 28px,
  ),
);

@each $name, $value in $size-map {
    :host([size="#{$name}"]) {
        input[type="checkbox"] {
            height: var(--checkbox-size-#{$name}, var(--size-#{$name}, #{map-get($value, size)}));
            width: var(--checkbox-size-#{$name}, var(--size-#{$name}, #{map-get($value, size)}));
        }
    }
} 


:host(:focus),
:host([hasfocus="true"]) {
    &::part(wrapper) {
        outline: none;
    }

    input[type="checkbox"]:focus-visible {
        outline-offset: 2px;
        outline: 1px solid blue !important;
    }
}