:host {
  div[part="content"] {
    display: flex;
    flex-direction: column;
    width: 365px;

    header {
      box-sizing: border-box;
      min-width: 365px;
      white-space: nowrap;
      background-color: var(--pap-color-bg-secondary, #F6F7F8);

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--gap-medium, 16px);

      padding: var(--padding-large, 24px);
    }

    main {
      flex: 1;
    }
  }
}

// --breakpoint-mobile 
@media screen and (max-width: 320px) {
  :host {
    div[part="content"] {
      width: 320px;

      header {
        padding: var(--padding-medium, 16px);
        padding-top: var(--unit-size7, 48px);
      }
    }
  }

  :host([open="true"]) {
    width: 100%;
  }
}