:host {
  display: block;
  padding: var(--padding-medium, 16px);

  background-color: var(--playground-background-color, var(--pap-color-bg, white));
  color: var(--playground-text-color, var(--pap-color-text, black));
}