:host {
    --button-background-color-clear-hover: var(--smiley-hover-background, rgba(0, 0, 0, 0.05));

    .button-group {
        display: flex;

        pap-button {
            padding: 0.4rem;
            gap: 0;
        }
    }
}
