:host {
  display: block;
  cursor: pointer;

  pap-box-template {
    background-color: var(--pap-color-bg, white);
    display: flex;
    align-items: center;

    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    padding-inline: var(--padding-small, 8px);

    pap-prefix-suffix-template {
      flex: 1;
      width: 100%;

      &::part(content) {
        width: 100%;
        display: block;
      }
    }
  }

  pap-divider {
    height: 4px;
  }
}

:host(:hover)>pap-box-template {
  background-color: var(--pap-color-bg-hover, #DADDE3);
}

:host([selected="true"])>pap-box-template {
  background-color: var(--pap-color-bg-tertiary, #EAEBEF);
}

:host(:active)>pap-box-template {
  background-color: var(--pap-color-bg-pressed, #C7CBD4);
}

$size-map: (
  small: (height: calc(var(--field-size-small, 32px) - 4px), // - border
  ),
  medium: (height: calc(var(--field-size-medium, 40px) - 4px),
  ),
  large: (height: calc(var(--unit-size7, 48px) - 4px),
  ),
);

:host(.focus),
:host(:focus-visible) {
  outline: none;

  pap-box-template {
    outline-offset: 2px;
    outline: 2px solid var(--pap-color-border-strong, #29292F) !important;
  }
}

@each $name, $value in $size-map {
  :host([size="#{$name}"]) {
    pap-box-template {
      min-height: var(--pap-item-height-#{$name}, #{map-get($value, height)});
      height: fit-content;
    }
  }
}