:host {
  div {
    background-color: var(--pap-divider-color, var(--pap-color-border, #C7CBD4));
    content: '';
  }
}

:host([thickness="thin"]) {
  --thickness: 0.5px;
}

:host([thickness="default"]) {
  --thickness: 1px;
}

:host([thickness="thick"]) {
  --thickness: 2px;
}

:host([mode="horizontal"]) {
  display: flex;
  align-items: center;
  height: 16px;

  div {
    height: var(--thickness);
    flex-grow: 1;
    transform: translateY(calc(var(--thickness) / 2));
  }
}

:host([mode="vertical"]) {
  margin-inline: var(--divider-margin, 8px);
  height: 100%;

  div {
    width: var(--thickness);
    height: 100%;
  }
}