:host {
  display: block;
  font-family: inherit;
  
  --header-size: 6rem;
  
  --sidebar-label-hover: #f7f7f7;
  --sidebar-item-hover: #303030;
  --sidebar-item-selected: black;
  --button-background-color-clear-active: rgb(40, 40, 40);
  --color: black;
  --inverse-color: white;

  width: 300px;
  color: var(--color);
  user-select: none;
  box-sizing: border-box;

  user-select: none;
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :host {
      --sidebar-item-selected: white;
      --button-background-color-clear-active: rgb(217, 217, 217);
      --color: white;
      --inverse-color: black;
      --sidebar-label-hover: #363636;
      --sidebar-item-hover: #dadada;
  }
}

header {
  background-color: var(--color);
  height: var(--header-size);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  overflow: hidden;

  ::slotted(*) {
    margin: 0;
    color: var(--inverse-color);
    white-space: nowrap;
  }

  o-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    gap: 0;
    height: 6rem;
    width: 6rem;

    color: var(--inverse-color);
  }
}

:host([open="true"]) {
  transition: width 60ms ease-in;
  header {
    o-button {
      o-icon.open {
        display: block;
      }
      o-icon.closed {
        display: none;
      }
    }
  }
}
:host([open="false"]) {
  transition: width 150ms ease-in;
  width: 6rem;
  header {
    ::slotted(*) {
      display: none;
    }
    o-button {
      o-icon.open {
        display: none;
      }
      o-icon.closed {
        display: block;
      }
    }
  }
}