:host {
    
    header {
        margin-bottom: var(--margin-small);
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        
        div {
            position: relative;
            
            display: flex;
            align-items: center;
            gap: var(--gap-small);

            overflow-x: auto;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar {
                display: none;
            }

            // height: var(--o-tab-height, var(--field-size-medium));

            span[part=indicator] {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: 100%;
                translate: 0 -100%;
                height: var(--tabs-indicator-height, var(--unit-size-1, 4px));
                background-color: var(--tabs-indicator-color, var(--o-color-border-brand));
    
                transition: all var(--tabs-indicator-animation-easing, ease) var(--tabs-indicator-animation-duration, 200ms);
    
                // apply the radius 
                border-top-left-radius: var(--radius-small);
                border-top-right-radius: var(--radius-small);
            }
        }
    }
}
::slotted(*[slot="header-prefix"]) {
    margin-right: auto; 
}
::slotted(*[slot="header-suffix"]) {
    margin-left: auto; 
}

:host([scrolling="true"]) {
    main {
        max-height: var(--tabs-maxheight, 15rem);
        overflow-y: auto;
        scroll-snap-type: y proximity;
    }

    ::slotted(o-tab-content) {
        display: block;
    }
}

// :host {
//     display: grid;
//     grid-template-rows: auto 1fr;

//     div[part="header-wrapper"] {
//         display: grid;
//         grid-template-rows: var(--o-tabs-height, var(--unit-size7, 48px));
//         // grid-template-columns: 1fr minmax(5rem, auto);
//     }
    
//     header {
//         display: flex;
//         overflow-x: auto;
//         position: relative;

//         span[part=indicator] {
//             content: '';
//             display: inline-block;
//             position: absolute;
//             left: 0;
//             top: 100%;
//             transform: translateY(-100%);
//             height: var(--tabs-indicator-height, 0.3rem);
//             background-color: var(--tabs-indicator-color, var(--o-color-border-brand));

//             transition: all var(--tabs-indicator-animation-easing, ease) var(--tabs-indicator-animation-duration, 200ms);
//         }

//         ::slotted(*[slot="header"]) {
//             flex-grow: 1;
//             z-index: 20;
//         }
//     }

// }

