:host {
  display: inline-block;
  color: var(--pap-color-icon, #29292F);
  --border-color: var(--pap-color-border, #C7CBD4);
  --circle-extra: 0px;

  cursor: pointer;

  pap-box-template[part="main"] {
    border: none;
    display: inline-flex;
    background-color: transparent;
    align-items: center;
    padding: 0;
  }

  pap-box-template[part="switch"] {
    content: '';
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    background-color: var(--background);
    box-sizing: border-box;

    padding: var(--padding);

    width: var(--width);
    height: var(--size);

    transition: padding ease var(--timing-fast, 80ms);

    div {
      height: 100%;
      width: 100%;
      position: relative;
    }

    span[part="circle"] {
      position: absolute;
      content: '';

      // for icon
      display: flex;
      justify-content: center;
      align-items: center;

      transition:
        left ease var(--timing-fast, 80ms),
        width ease var(--timing-fast, 80ms),
        height ease var(--timing-fast, 80ms);

      border-radius: 50%;
      background-color: var(--circle-background);

      box-sizing: border-box;
      width: calc(var(--size) - 2px + var(--padding) * -2); // + var(--padding, 0px)
      height: calc(var(--size) - 2px + var(--padding) * -2); // + var(--padding, 0px)
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--pap-color-border-strong, #29292F);
      outline-offset: 1px;
    }
  }
}

// colors
:host([state="default"]:not([disabled]):not([readonly])) {
  pap-box-template:hover {
    --border-color: var(--pap-color-border, #C7CBD4);
    --background: var(--pap-color-bg-hover, #DADDE3);
  }
}

:host {
  --background: var(--pap-color-bg-tertiary, #EAEBEF);
  --circle-background: var(--pap-color-icon-secondary, #6E7087);
}

:host([checked="true"]),
:host([checked="true"][state="default"]:not([disabled]):not([readonly])) pap-box-template:hover {
  --background: var(--pap-color-bg-success, #2E701B);
  --circle-background: var(--pap-color-bg, #FFFFFF);
  --border-color: var(--pap-color-bg-success, #2E701B);
}

:host([checked="true"][state="default"]:not([disabled]):not([readonly])) {
  pap-box-template:hover {
    --border-color: var(--pap-color-bg-success-hover, #29591B);
    --background: var(--pap-color-bg-success-hover, #29591B);
  }
}

:host([disabled="true"]) {
  --circle-background: var(--pap-color-bg-disabled, #DADDE3);
  --border-color: var(--pap-color-bg-tertiary, #EAEBEF);
  --background: var(--pap-color-bg-tertiary, #EAEBEF);
}

// sizing
:host([size="small"]) {
  --size: var(--unit-size3, 16px);
  --padding: 2px;
  --padding-selected: 1px;
  --width: 28px;
}

:host([size="medium"]) {
  --size: var(--field-size-smaller, 24px);
  --padding: 4px;
  --padding-selected: 2px;
  --width: 44px;
}

:host([size="large"]) {
  --size: var(--field-size-small, 32px);
  --padding: 5px;
  --padding-selected: 3px;
  --width: 60px;
}

:host(:not([disabled="true"]):active) {
  --padding: 0px;
}

:host([checked="true"]:not(:active)) {
  --padding: var(--padding-selected);
}

:host([disabled="true"][checked="true"]) {
  --padding: var(--padding-selected);
}

:host([checked="true"]) {
  span[part="circle"] {
    left: calc(100% - (var(--size) - 2px + var(--padding) * -2));
  }
}

:host([mode="fill"]) {
  pap-box-template[part="main"] {
    display: flex;
  }
}

// checked
:host([checked="false"]) {
  span[part="circle"] {
    left: 0;
  }
}