:host {
  display: inline-block;
  color: var(--pap-color-icon, #29292F);
  --border-color: var(--pap-color-border, #C7CBD4);

  cursor: pointer;

  pap-box-template[part="main"] {
    border: none;
    display: inline-flex;
    background-color: transparent;
    align-items: center;
    padding: 0;
  }

  pap-box-template[part="switch"] {
    position: relative;
    content: '';
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    background-color: var(--background);
    box-sizing: border-box;

    width: var(--width);
    height: var(--size);

    span[part="circle"] {
      content: '';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition:
        left ease var(--timing-fast, 80ms),
        scale ease var(--timing-fast, 80ms);

      border-radius: 50%;
      background-color: var(--circle-background);

      box-sizing: border-box;
      width: var(--circle);
      height: var(--circle);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--pap-color-border-strong, #29292F);
    }
  }
}

// :host(:hover) {
//   --border-color: blue !important; //var(--pap-color-border-strong, #29292F);
// }
:host([state="default"]:not([disabled]):not([readonly])) {
  pap-box-template:hover {
    --border-color: var(--pap-color-border, #C7CBD4);
    --background: var(--pap-color-bg-hover, #DADDE3);
  }
}

// colors
:host {
  --background: var(--pap-color-bg-tertiary, #EAEBEF);
  --circle-background: var(--pap-color-icon-secondary, #6E7087);
}

:host([checked="true"]),
:host([checked="true"][state="default"]:not([disabled]):not([readonly])) pap-box-template:hover {
  --background: var(--pap-color-bg-success, #2E701B);
  --circle-background: var(--pap-color-bg, #FFFFFF);
  --border-color: var(--pap-color-bg-success, #2E701B);
}

// size
:host([size="small"]) {
  --size: var(--unit-size3, 16px);
  --circle: 10px;
  --circle-left: 3px;
  --circle-right: 2px;
  --width: 28px;
}

:host([size="medium"]) {
  --size: var(--field-size-smaller, 24px);
  --circle: 14px;
  --circle-left: 5px;
  --circle-right: 3px;
  --width: 44px;
}

:host([size="large"]) {
  --size: var(--field-size-small, 32px);
  --circle: 20px;
  --circle-left: 6px;
  --circle-right: 4px;
  --width: 60px;
}

:host([checked="true"][size="small"]) {
  --circle: 12px;
}

:host([checked="true"][size="medium"]) {
  --circle: 18px;
}

:host([checked="true"][size="large"]) {
  --circle: 24px;
}

:host([mode="fill"]) {
  pap-box-template[part="main"] {
    display: flex;
  }
}

// checked
:host([checked="false"]) {
  span[part="circle"] {
    left: var(--circle-left);
  }
}

:host(:active) {
  span[part="circle"] {
    scale: 1.2;
  }
}

:host([checked="true"]) {
  --circle: var(--circle-selected);

  span[part="circle"] {
    left: calc(100% - var(--circle) - var(--circle-right));
  }
}