body {
  background-color: var(--pap-color-bg-canvas, #EAEBEF);
  color: var(--pap-color-text, #29292F);
}

body {
  font-family: var(--pap-font-family);
}

.tabs-scrolling-indicator > pap-tab-content {
  min-height: 20rem;
}

p[slot] {
  margin-block: 0;
}