:host {
    container-type: inline-size;
    display: grid;
    grid-template-rows: auto minmax(80px, auto) 55px 1fr 89px;
    grid-template-columns: 2fr 4fr 50% 4fr 2fr;
    grid-template-areas: 
        "t t logo t2 t2"
        "z welcome welcome welcome z2"
        "k k note k2 k2"
        "k k form k2 k2"
        "k3 footer footer footer k4";

    justify-content: center;
    
    background-color: var(--o-color-white);
    position: relative;
    height: 100vh;

    div.logo {
        grid-area: logo;
    }
    div.welcome {
        grid-area: welcome;
    }
    div.note {
        grid-area: note;
        display: flex;
        align-items: center;
    }
    div.form {
        grid-area: form;
    }
    div.footer {
        grid-area: footer;
    }

    div.flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-small);
    }

    ::slotted(o-button),
    o-button {
        gap: 0;
        padding: 0;
    }
}

// TODO I want to make the login form more responsive by manipulating grid on container
@container (max-width: 40em) {
    :host {
        grid-template-columns: 2fr 4fr 50% 4fr 2fr;
    }
}
@media (prefers-color-scheme: dark) {}