:host {
  display: block;

  form {
    height: inherit;
    min-height: inherit;
    max-height: inherit;

    div {
      display: flex;
      justify-content: center;

      pap-message {
        flex-grow: 1;
      }
    }
  }
}