:host {
    display: block;

    form {
        div {
            display: flex;
            justify-content: center;

            o-message {
                flex-grow: 1;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {}