body {
  background-color: var(--o-color-bg-canvas);
  color: var(--o-color-text);
}

body {
  font-family: var(--o-font-family);
}

o-codeblock::part(fieldset) {
    display: flex;
    justify-content: center;
    align-items: center;
}