body {
  background-color: var(--o-color-canvas-50);
  color: var(--o-color-black);
}

body {
  font-family: var(--o-font-family);
}

code-block::part(fieldset) {
    display: flex;
    justify-content: center;
    align-items: center;
}