:host {
    display: flex;
    justify-content: center;
    container-type: inline-size;

    o-box-template[part="collapsed"] {
        background-color: var(--o-color-bg-secondary, #F6F7F8);
        padding: var(--padding-small, 8px);
        align-items: center;
        justify-content: center;
        display: none;
    }

    o-box-template[part="base"] {
        background-color: var(--o-color-bg-secondary, #F6F7F8);
        display: block;
        padding-inline: var(--padding-medium, 16px);
        flex-grow: 1;

        header {
            display: flex;
            justify-content: space-between;
            padding-block: var(--padding-medium, 16px);
            align-items: center;
            cursor: pointer;
            color: var(--o-color-text-secondary, #6E7087);

            o-icon {
                rotate: -90deg;
                transition: rotate ease 30ms;
            }
        }

        o-accordion[open="true"] {
            padding-bottom: var(--padding-small, 8px);

            div {
                display: flex;
                gap: var(--gap-small, 8px);
                flex-direction: column;
            }

            div:has(a) {
                color: var(--o-color-text-secondary, #6E7087);
                flex-direction: row;
                height: var(--field-size-medium, 40px);
                align-items: center;

                a {
                    color: currentColor;
                    text-decoration: none;
                }
            }

            div:has(o-button) {
                flex-direction: row;
            }
        }
    }
}

:host([open="true"]) {
    o-box-template {
        header {
            o-icon {
                rotate: 0deg;
            }
        }
    }
}

// 150px comes from sidebar-item
@container (max-width: 150px) {
    :host {
        o-box-template[part="base"] {
            display: none;
        }
        o-box-template[part="collapsed"] {
            display: inline-flex;
        }
    }
}