<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circular Design System</title>

  <link rel="stylesheet" href="style.css" />
  <script defer src="main.js"></script>
</head>

<body>
  <pap-sidebar class="designsystem">

    <pap-sidebar-item id="system" text="System"></pap-sidebar-item>

    <pap-sidebar-item id="atoms" text="Atoms"></pap-sidebar-item>

    <pap-sidebar-item id="molecules" text="Molecules"></pap-sidebar-item>

    <pap-sidebar-item id="organisms" text="Organisms"></pap-sidebar-item>

    <pap-sidebar-item id="pages" text="Pages"></pap-sidebar-item>

    <pap-sidebar-item id="templates" text="Templates"></pap-sidebar-item>

    <pap-sidebar-item id="tools" text="Tools"></pap-sidebar-item>
  </pap-sidebar>
  <main class="designsystem">
    <pap-routing-tool asset-base="" url="empty.html"></pap-routing-tool>
  </main>
</body>

</html>