<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circular Design System</title>

  <link rel="stylesheet" href="style.css" />
  <script defer src="main.js"></script>
</head>
<body>
  <o-navbar selected="atoms" slot="sidebar">
    <o-navbar-item 
      id="atoms"
      icon="atoms" 
      icon_selected="atoms" 
      text="Atoms" 
    ></o-navbar-item>

    <o-navbar-item 
      id="molecules"
      icon="molecules" 
      icon_selected="molecules" 
      text="Molecules" 
    ></o-navbar-item>

    <o-navbar-item 
      id="organisms"  
      icon="organisms" 
      icon_selected="organisms" 
      text="Organisms" 
    ></o-navbar-item>
    
    <o-navbar-item 
      id="pages"  
      icon="pages" 
      icon_selected="pages" 
      text="Pages" 
    ></o-navbar-item>
    
    <o-navbar-item 
      id="templates"  
      icon="templates" 
      icon_selected="templates" 
      text="Templates" 
    ></o-navbar-item>
    
    <o-navbar-item 
      id="tools"  
      icon="tools" 
      icon_selected="tools" 
      text="Tools" 
    ></o-navbar-item>
  </o-navbar>
  <main class="designsystem"></main>
</body>
</html>