:host {
  --background: var(--o-color-white);
  --color: var(--o-color-black);

  font-family: inherit;
  font-size: 12pt;
  display: block;
}

label, input, textarea, select {
  color: var(--color);
  display: block;
  width: 100%;
  box-sizing: border-box;
}
input, textarea, select {
  padding: 0.5rem;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--background);
  border: 1px solid var(--color);
  border-radius: 4px;
}

textarea {
  max-height: 10rem;
}