<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circular Design System</title>

  <link rel="stylesheet" href="style.css" />
  <script defer src="main.js"></script>
</head>
<body>
  <side-menu>
    <o-icon slot="header" class="logo" name="circular"></o-icon>

    <menu-item haschild="true">
      <span slot="collapsed">F</span>
      <span>foundations</span>
    </menu-item>
    
    <menu-item>
      <span slot="collapsed">C</span>
      <span>components</span>

      <menu-item haschild="true" data-sidemenu-name="atoms" slot="sub">
        <o-icon slot="collapsed" customSize="15" name="atoms"></o-icon>
        <o-icon customSize="15" name="atoms"></o-icon>
        <span>atoms</span>
      </menu-item>

      <menu-item haschild="true" data-sidemenu-name="molecules" slot="sub">
        <o-icon slot="collapsed" customSize="15" name="molecules"></o-icon>
        <o-icon customSize="15" name="molecules"></o-icon>
        <span>molecules</span>
      </menu-item>
      
      <menu-item haschild="true" data-sidemenu-name="organisms" slot="sub">
        <o-icon slot="collapsed" customSize="15" name="organisms"></o-icon>
        <o-icon customSize="15" name="organisms"></o-icon>
        <span>organisms</span>
      </menu-item>

      <menu-item haschild="true" data-sidemenu-name="pages" slot="sub">
        <o-icon slot="collapsed" customSize="15" name="pages"></o-icon>
        <o-icon customSize="15" name="pages"></o-icon>
        <span>pages</span>
      </menu-item>

      <menu-item haschild="true" data-sidemenu-name="templates" slot="sub">
        <o-icon slot="collapsed" customSize="15" name="templates"></o-icon>
        <o-icon customSize="15" name="templates"></o-icon>
        <span>templates</span>
      </menu-item>

      <menu-item haschild="true" data-sidemenu-name="tools" slot="sub">
        <o-icon slot="collapsed" customSize="15" name="tools"></o-icon>
        <o-icon customSize="15" name="tools"></o-icon>
        <span>tools</span>
      </menu-item>
    </menu-item>
  </side-menu>

  <main class="designsystem"></main>
</body>
</html>