$radius-map: (
    none: 0px,
    small: var(--radius-small),
    medium: var(--radius-medium),
    large: var(--radius-large),
    circular: var(--radius-max),
);

// $elevation-map: (
//     none: none,
//     small: 0 2px 4px var(--shadow-color),
//     medium: 4px 0px 32px 0px var(--shadow-color), // from navbar design
//     large: 0 2px 15px 5px var(--shadow-color),
// );

@each $name, $value in $radius-map {
    :host([radius="#{$name}"]) {
        border-radius: var(--box-radius-#{$name}, var(--radius-#{$name}, $value));
    }
}

:host([elevation="small"]) {
    box-shadow: var(--box-shadow-small, var(--shadow-s));
}
:host([elevation="medium"]) {
    box-shadow: var(--box-shadow-medium, var(--shadow-m));
}
:host([elevation="large"]) {
    box-shadow: var(--box-shadow-large, var(--shadow-l));
}
:host([elevation="x-large"]) {
    box-shadow: var(--box-shadow-x-large, var(--shadow-xl));
}

// horizontal mode
:host([elevation-direction="horizontal"][elevation="small"]) {
    box-shadow: var(--box-shadow-small, var(--shadow-horizontal-s));
}
:host([elevation-direction="horizontal"][elevation="medium"]) {
    box-shadow: var(--box-shadow-medium, var(--shadow-horizontal-m));
}
:host([elevation-direction="horizontal"][elevation="large"]) {
    box-shadow: var(--box-shadow-large, var(--shadow-horizontal-l));
}
:host([elevation-direction="horizontal"][elevation="x-large"]) {
    box-shadow: var(--box-shadow-x-large, var(--shadow-horizontal-xl));
}

// @each $name, $value in $elevation-map {
//     :host([elevation="#{$name}"]) {
//         box-shadow: var(--box-shadow-#{$name}, var(--shadow-#{$name}, $value));
//     }
// } 