:host {
  display: block;

  o-typography {
    height: 56px;
    line-height: 56px;
    text-indent: 0.7rem;
  }
}

:host([mode="edit"]) {
  o-typography {
    display: none;
  }
}
:host([mode="view"]) {
  o-input {
    display: none;
  }
}