:host {
  display: block;
  cursor: pointer;

  div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-inline: var(--padding-medium, 16px);
    display: flex;
    align-items: center;

    font-family: var(--typography-c3-fontfamily, 'Libre Franklin', helvetica, sans-serif);
    font-size: var(--typography-c3-fontsize, 1rem);
    font-weight: var(--typography-c3-fontweight, 400);
    line-height: var(--typography-c3-lineheight, 140%);
    letter-spacing: var(--typography-c3-letterspacing, 0.01rem);

    // &[part="content"] {}

    &:has(pap-select) {
      padding-inline: 0;
    }

    input {
      border: none;
      resize: none;
      padding: 0;
      width: 100%;
      background-color: transparent;
      border: 0;
      font-family: var(--typography-c3-fontfamily, 'Libre Franklin', helvetica, sans-serif);
      font-size: var(--typography-c3-fontsize, 1rem);
      font-weight: var(--typography-c3-fontweight, 400);
      line-height: var(--typography-c3-lineheight, 140%);
      letter-spacing: var(--typography-c3-letterspacing, 0.01rem);

      &:focus {
        outline: none;
      }
    }

    pap-select {
      width: 100%;
      height: 100%;

      &::part(main) {
        background-color: transparent;
        outline: none !important;
        height: 100%;
        border: none;
        padding-left: var(--padding-medium, 16px);
      }
    }

    &[part="edit"] {
      display: none;
    }
  }
}

:host([edit="true"]) {

  div[part="view"] {
    display: none;
  }

  div[part="edit"] {
    display: flex;
  }
}

:host([hasfocus="true"]) {
  // note later this could be controlled by the table as we wish to span over several cells
  outline: 2px solid var(--pap-color-border-brand, #0177A3);
  outline-offset: -2px;
}

// sizes
:host([size="small"]) {
  height: var(--field-size-medium, 40px);

  pap-select::part(input) {
    height: var(--field-size-medium, 40px);
  }
}

:host([size="medium"]) {
  height: var(--field-size-large, 48px);

  pap-select::part(input) {
    height: var(--field-size-large, 48px);
  }
}

:host([size="large"]) {
  height: var(--field-size-larger, 56px);

  pap-select::part(input) {
    height: var(--field-size-larger, 56px);
  }
}

// alignment
:host([align="left"]) div[part="content"] {
  justify-content: flex-start;
}

:host([align="center"]) div[part="content"] {
  justify-content: center;
}

:host([align="right"]) div[part="content"] {
  justify-content: flex-end;
}