body {
  background-color: var(--o-color-bg-canvas);
  color: var(--o-color-text);
}

o-box-template {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

o-codeblock::part(fieldset) {
  padding: var(--padding-large);
  display: flex;
  gap: 4rem;
}