body {
  background-color: var(--pap-color-bg-canvas, #EAEBEF);
  color: var(--pap-color-text, #29292F);
}

pap-box-template {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

pap-codeblock::part(fieldset) {
  padding: var(--padding-large, 24px);
  display: flex;
  gap: 4rem;
}