:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));

  --button-background-color-clear-hover: var(--smiley-hover-backgroun, rgba(0, 0, 0, 0.05));
  
  div.search {
    padding: 1rem;
  }

  o-tab {
    flex-grow: 1;
  }
  
  o-button {
    margin: 0;
    gap: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 15pt;  
  }
}